# PANDAS ALTERNATIVES IN PYTHON

- System: 

    Mackbook Pro 15 Inch, 2019 
        
        Processor: 2.3 GHz 8-Core Intel Core i9
        
        Memory: 16 GB 2400 MHz DDR4
        
        macOS:  Sonoma 14.5 Beta (23F5049f)

- Python 3.12.2

______

In [1]:
# Importing libraries 
import polars as pl
import datatable  as dt
import os
os.environ['MODIN_ENGINE'] = 'dask'
import modin.pandas as md
import modin
print("NUM Partitions available: ", modin.config.NPartitions.get())
import pandas as pd
import time
import numpy as np
from statistics import mean, stdev

NUM Partitions available:  16

In [2]:
def exec_time(code_str):
    start = time.time()
    exec(code_str)
    end = time.time()
    return np.round((end-start)/60*1000, 6)

def functiontiming(cmd_d, metr_nm, dictionary, loop = 10, add_cmd = None):
    print(metr_nm)
    for key, cmd in cmd_d.items():
        counter = 0
        times = []
        try: 
            while counter <= loop:
                if add_cmd:
                    new_cmd = add_cmd[key]
                    exec_time(new_cmd)
                time = exec_time(cmd)
                times.append(time)
                counter +=1
            meant = np.round(mean(times), 6)
            stdevt = np.round(stdev(times), 6)
            maxt = np.round(max(times), 6)
            mint = np.round(min(times), 6)
            add_dic = {'METRIC': metr_nm, 'LIBRARY': key, 'TIME (avg)': meant, "TIME (stdv)": stdevt, "TIME (max)": maxt, "TIME (min)": mint,   'N': loop}

        except Exception as E:
            print(key, " ERROR:\n", str(E))
            add_dic = {}

        if metr_nm in dictionary:
            dictionary[metr_nm].append(add_dic)
        else: 
            dictionary[metr_nm] = [add_dic]
        try: 
            print(key, '\t', meant, 'usec')     
        except: print('No data')
        
def dict_to_df(dictionary, file_size = None):
    df = pd.DataFrame()
    for k, v in dictionary.items(): 
        df1 = pd.DataFrame(v)
        df = pd.concat([df, df1], axis = 0).reset_index(drop = True)
    if file_size: 
        df.loc[:,'FILE_SZ'] = file_size
    return df

______ 
### ~SMALL FILE

In [3]:
# Number of data points to calculate statictics 
loops = 5
file = 'data/data_small.csv'
print("File size: ", np.round(os.stat(file).st_size / (1024 * 1024), 2), "MB")
RESULT_SM = {}

File size:  13.84 MB

In [4]:
cmdsrd = {
        'datatable': 'global dtdf ; dtdf = dt.fread(file)',
        'pandas'   : 'global pdf  ; pdf = pd.read_csv(file, low_memory = False )',
        'polars'   : 'global pldf ; pldf = pl.read_csv(file, infer_schema_length=100000, ignore_errors = True )',
        'modin'    : 'global mdf  ; mdf = md.read_csv(file, low_memory = False)'
        }
metric = 'READ_CSV'
functiontiming(cmdsrd, metric, RESULT_SM, loop = loops)

READ_CSV
datatable 	 2.420696 usec
pandas 	 9.496418 usec
polars 	 8.329429 usec

UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 53400 instead
UserWarning: `read_*` implementation has mismatches with pandas:
Data types of partitions are different! Please refer to the troubleshooting section of the Modin documentation to fix this issue.

modin 	 31.57902 usec

In [5]:
cmdshp = {
        'datatable': 'dtdf.shape',
        'pandas'   : 'pdf.shape',
        'polars'   : 'pldf.shape',
        'modin'    : 'mdf.shape'
        }
metric = 'PRINT DF SHAPE'

functiontiming(cmdshp, metric, RESULT_SM, loop = loops)

PRINT DF SHAPE
datatable 	 0.000793 usec
pandas 	 0.000586 usec
polars 	 0.003028 usec
modin 	 0.039745 usec

In [6]:
cmds_copy = {
        'datatable': 'global dtdf1 ; dtdf1 = dtdf.copy()',
         'pandas'  : 'global pdf1  ; pdf1 = pdf.copy()',
         'polars'  : 'global pldf1 ; pldf1 = pldf.clone()',
         'modin'   : 'global mdf1  ; mdf1 = mdf.copy()'
        }
metric = 'CREATE COPY'
functiontiming(cmds_copy, metric, RESULT_SM, loop = loops)

CREATE COPY
datatable 	 0.001076 usec
pandas 	 0.425421 usec
polars 	 0.001263 usec
modin 	 0.017889 usec

In [7]:
cmds_col1 = {
         'datatable': 'global dtdf1 ; dtdf1.names = {"CRASH_CRN":"CRASH_CRNnew"}',
         'pandas'   : 'global pdf1  ; pdf1 = pdf1.rename(columns = {"CRASH_CRN":"CRASH_CRNnew"})',
         'polars'   : 'global pldf1 ; pldf1 = pldf1.rename({"CRASH_CRN":"CRASH_CRNnew"})',
         'modin'    : 'global mdf1  ; mdf1 = mdf1.rename(columns = {"CRASH_CRN":"CRASH_CRNnew"})'
        }
metric = 'RENAME SINGLE COLUMN'
functiontiming(cmds_col1, metric, RESULT_SM, add_cmd = cmds_copy, loop = loops)

RENAME SINGLE COLUMN
datatable 	 0.003952 usec
pandas 	 0.220145 usec
polars 	 0.051944 usec
modin 	 0.181792 usec

In [8]:
new_columns = [col+'NEW' for col in pdf.columns]
new_colums_dict = {}
for col in pdf.columns:
    new_colums_dict[col] = col+'NEW'

cmds_col_all = {
         'datatable': 'global dtdf  ; dtdf.names = new_columns',
         'pandas'   : 'global pdf   ; pdf.columns = new_columns',
         # For polars to work with no errors I had to create a new dataframe. 
         # Tests without new copy in other platforms worked with no issues
         'polars'   : 'global pldf2 ; pldf2 =  pldf.rename(new_colums_dict)',
         'modin'    : 'global mdf   ; mdf = mdf.rename(columns = new_colums_dict)'
        }
metric = 'RENAME ALL COLUMNS'
functiontiming(cmds_col_all, metric, RESULT_SM, add_cmd = cmds_copy, loop = loops)

RENAME ALL COLUMNS
datatable 	 0.001485 usec
pandas 	 0.004066 usec
polars 	 0.025676 usec
modin 	 0.19792 usec

In [9]:
cmds_sort1 = {
         'datatable': 'dtdf[:,:, dt.sort("MUNICIPALITYNEW", reverse=True)]',
         'pandas'   : 'pdf.sort_values(by = ["MUNICIPALITYNEW"], ascending = [False])',
         'polars'   : 'pldf2.sort("MUNICIPALITYNEW", descending=True)',
         'modin'    : 'mdf.sort_values(by = ["MUNICIPALITYNEW"], ascending = [False])'
        }
metric = 'SORT ONE COLUMN'
functiontiming(cmds_sort1, metric, RESULT_SM, loop = loops)

SORT ONE COLUMN
datatable 	 0.034239 usec
pandas 	 0.386392 usec
polars 	 0.522579 usec
modin 	 18.869721 usec

In [10]:
cmds_sort2 = {
         'datatable': 'dtdf[:,:, dt.sort(["MUNICIPALITYNEW", "CRASH_YEARNEW"], reverse=[True, False])]',
         'pandas'   : 'pdf.sort_values(by = ["MUNICIPALITYNEW", "CRASH_YEARNEW"], ascending = [False, True])',
         'polars'   : 'pldf2.sort("MUNICIPALITYNEW", "CRASH_YEARNEW", descending=[True, False])',
         'modin'    : 'mdf.sort_values(by = ["MUNICIPALITYNEW", "CRASH_YEARNEW"], ascending = [False, True])'
        }
metric = 'SORT TWO COLUMN'
functiontiming(cmds_sort2, metric, RESULT_SM, loop = loops)

SORT TWO COLUMN
datatable 	 0.062195 usec
pandas 	 0.706996 usec
polars 	 0.377167 usec
modin 	 18.257268 usec

In [11]:
from datatable import dt, f, by
grp_by_sum = {
         'datatable': 'dtdf[:, dt.sum(f.CRASH_YEARNEW), by("MUNICIPALITYNEW")]',
         'pandas'   : 'pdf.groupby("MUNICIPALITYNEW")["CRASH_YEARNEW"].sum()',
         'polars'   : 'pldf2.group_by("MUNICIPALITYNEW").agg(pl.sum("CRASH_YEARNEW"))',
         'modin'    : 'mdf.groupby("MUNICIPALITYNEW")["CRASH_YEARNEW"].sum()'
        }
metric = 'GROUP BY SUM'
functiontiming(grp_by_sum, metric, RESULT_SM, loop = loops)

GROUP BY SUM
datatable 	 0.029096 usec
pandas 	 0.070594 usec
polars 	 0.18797 usec
modin 	 13.701355 usec

In [12]:
dict_to_df(RESULT_SM, 'Small')

,METRIC,LIBRARY,TIME (avg),TIME (stdv),TIME (max),TIME (min),N,FILE_SZ
0,READ_CSV,datatable,2.420696,0.665175,3.736317,2.033099,5,Small
1,READ_CSV,pandas,9.496418,0.537456,10.566068,9.131217,5,Small
2,READ_CSV,polars,8.329429,2.045710,12.483986,7.314650,5,Small
3,READ_CSV,modin,31.579020,38.275597,109.646801,14.393214,5,Small
4,PRINT DF SHAPE,datatable,0.000793,0.000612,0.002003,0.000433,5,Small
5,PRINT DF SHAPE,pandas,0.000586,0.000171,0.000918,0.000469,5,Small
6,PRINT DF SHAPE,polars,0.003028,0.006023,0.015318,0.000449,5,Small
7,PRINT DF SHAPE,modin,0.039745,0.095012,0.233686,0.000751,5,Small
8,CREATE COPY,datatable,0.001076,0.000674,0.002432,0.000715,5,Small
9,CREATE COPY,pandas,0.425421,0.381883,1.110721,0.191482,5,Small
10,CREATE COPY,polars,0.001263,0.001106,0.003505,0.000719,5,Small
11,CREATE COPY,modin,0.017889,0.005253,0.026254,0.012883,5,Small
12,RENAME SINGLE COLUMN,datatable,0.003952,0.005821,0.015831,0.001462,5,Small
13,RENAME SINGLE COLUMN,pandas,0.220145,0.033472,0.287600,0.203669,5,Small
14,RENAME SINGLE COLUMN,polars,0.051944,0.116078,0.288868,0.002197,5,Small
15,RENAME SINGLE COLUMN,modin,0.181792,0.026045,0.219782,0.150486,5,Small
16,RENAME ALL COLUMNS,datatable,0.001485,0.000305,0.002098,0.001303,5,Small
17,RENAME ALL COLUMNS,pandas,0.004066,0.000268,0.004470,0.003783,5,Small
18,RENAME ALL COLUMNS,polars,0.025676,0.022112,0.069384,0.011651,5,Small
19,RENAME ALL COLUMNS,modin,0.197920,0.053467,0.274467,0.151781,5,Small
20,SORT ONE COLUMN,datatable,0.034239,0.054244,0.144951,0.011146,5,Small
21,SORT ONE COLUMN,pandas,0.386392,0.053994,0.475971,0.338697,5,Small
22,SORT ONE COLUMN,polars,0.522579,0.461009,1.459551,0.253403,5,Small
23,SORT ONE COLUMN,modin,18.869721,6.255044,29.247435,14.546200,5,Small
24,SORT TWO COLUMN,datatable,0.062195,0.010341,0.080450,0.052901,5,Small
25,SORT TWO COLUMN,pandas,0.706996,0.076933,0.810297,0.598832,5,Small
26,SORT TWO COLUMN,polars,0.377167,0.082037,0.488583,0.301353,5,Small
27,SORT TWO COLUMN,modin,18.257268,3.811113,24.782201,15.240765,5,Small
28,GROUP BY SUM,datatable,0.029096,0.015362,0.058250,0.015517,5,Small
29,GROUP BY SUM,pandas,0.070594,0.038758,0.130737,0.040201,5,Small
30,GROUP BY SUM,polars,0.187970,0.089423,0.368285,0.134953,5,Small
31,GROUP BY SUM,modin,13.701355,3.941621,21.632183,11.630682,5,Small

_____

### ~Medium file

In [13]:
### Deleting dataframes used with the Small file data
del dtdf, dtdf1, pdf, pdf1, pldf, pldf1, pldf2, mdf, mdf1

In [14]:
file = 'data/data_medium.csv'
print("File size: ", np.round(os.stat(file).st_size / (1024 * 1024), 2), "MB")
RESULT_MD = {}

File size:  140.68 MB

In [15]:
metric = 'READ_CSV'
functiontiming(cmdsrd, metric, RESULT_MD, loop = loops)
metric = 'PRINT DF SHAPE'
functiontiming(cmdshp, metric, RESULT_MD, loop = loops)
metric = 'CREATE COPY'
functiontiming(cmds_copy, metric, RESULT_MD, loop = loops)
metric = 'RENAME SINGLE COLUMN'
functiontiming(cmds_col1, metric, RESULT_MD, add_cmd = cmds_copy, loop = loops)
metric = 'RENAME ALL COLUMNS'
functiontiming(cmds_col_all, metric, RESULT_MD, add_cmd = cmds_copy, loop = loops)
metric = 'SORT ONE COLUMN'
functiontiming(cmds_sort1, metric, RESULT_MD, loop = loops)
metric = 'SORT TWO COLUMN'
functiontiming(cmds_sort2, metric, RESULT_MD, loop = loops)
metric = 'GROUP BY SUM'
functiontiming(grp_by_sum, metric, RESULT_MD, loop = loops)

READ_CSV
datatable 	 8.463953 usec
pandas 	 134.381696 usec
polars 	 40.504661 usec
modin 	 45.957108 usec
PRINT DF SHAPE
datatable 	 0.000578 usec
pandas 	 0.000544 usec
polars 	 0.000554 usec
modin 	 0.16285 usec
CREATE COPY
datatable 	 0.000866 usec
pandas 	 5.218464 usec
polars 	 0.001027 usec
modin 	 0.014086 usec
RENAME SINGLE COLUMN
datatable 	 0.001602 usec
pandas 	 4.027289 usec
polars 	 0.003894 usec
modin 	 0.180635 usec
RENAME ALL COLUMNS
datatable 	 0.001415 usec
pandas 	 0.003972 usec
polars 	 0.022747 usec
modin 	 0.193961 usec
SORT ONE COLUMN
datatable 	 0.021658 usec
pandas 	 6.007072 usec
polars 	 5.094405 usec
modin 	 27.847729 usec
SORT TWO COLUMN
datatable 	 0.249862 usec
pandas 	 12.300106 usec
polars 	 3.583764 usec
modin 	 23.744343 usec
GROUP BY SUM
datatable 	 0.071418 usec
pandas 	 0.231548 usec
polars 	 1.3157 usec
modin 	 16.688317 usec

In [16]:
dict_to_df(RESULT_MD, 'Medium')

,METRIC,LIBRARY,TIME (avg),TIME (stdv),TIME (max),TIME (min),N,FILE_SZ
0,READ_CSV,datatable,8.463953,1.627939,11.441155,7.400799,5,Medium
1,READ_CSV,pandas,134.381696,4.010455,138.538436,127.563234,5,Medium
2,READ_CSV,polars,40.504661,4.281720,48.034302,36.701032,5,Medium
3,READ_CSV,modin,45.957108,4.543977,54.580398,42.863997,5,Medium
4,PRINT DF SHAPE,datatable,0.000578,0.000184,0.000934,0.000453,5,Medium
5,PRINT DF SHAPE,pandas,0.000544,0.000120,0.000783,0.000465,5,Medium
6,PRINT DF SHAPE,polars,0.000554,0.000191,0.000938,0.000429,5,Medium
7,PRINT DF SHAPE,modin,0.162850,0.396606,0.972418,0.000779,5,Medium
8,CREATE COPY,datatable,0.000866,0.000189,0.001232,0.000731,5,Medium
9,CREATE COPY,pandas,5.218464,2.715225,10.682249,3.806651,5,Medium
10,CREATE COPY,polars,0.001027,0.000414,0.001836,0.000715,5,Medium
11,CREATE COPY,modin,0.014086,0.001067,0.015664,0.012799,5,Medium
12,RENAME SINGLE COLUMN,datatable,0.001602,0.000201,0.001919,0.001419,5,Medium
13,RENAME SINGLE COLUMN,pandas,4.027289,0.026324,4.072702,4.003533,5,Medium
14,RENAME SINGLE COLUMN,polars,0.003894,0.002516,0.008818,0.002150,5,Medium
15,RENAME SINGLE COLUMN,modin,0.180635,0.034553,0.248182,0.157448,5,Medium
16,RENAME ALL COLUMNS,datatable,0.001415,0.000155,0.001717,0.001303,5,Medium
17,RENAME ALL COLUMNS,pandas,0.003972,0.000201,0.004216,0.003735,5,Medium
18,RENAME ALL COLUMNS,polars,0.022747,0.016380,0.049682,0.011130,5,Medium
19,RENAME ALL COLUMNS,modin,0.193961,0.045582,0.281882,0.160670,5,Medium
20,SORT ONE COLUMN,datatable,0.021658,0.011908,0.045935,0.016181,5,Medium
21,SORT ONE COLUMN,pandas,6.007072,0.112677,6.140447,5.820513,5,Medium
22,SORT ONE COLUMN,polars,5.094405,4.028670,13.274519,2.912688,5,Medium
23,SORT ONE COLUMN,modin,27.847729,10.182535,42.881986,14.387317,5,Medium
24,SORT TWO COLUMN,datatable,0.249862,0.038851,0.323300,0.211883,5,Medium
25,SORT TWO COLUMN,pandas,12.300106,11.297018,35.154215,6.543950,5,Medium
26,SORT TWO COLUMN,polars,3.583764,0.269730,4.108755,3.374314,5,Medium
27,SORT TWO COLUMN,modin,23.744343,8.301423,33.700470,8.505646,5,Medium
28,GROUP BY SUM,datatable,0.071418,0.011139,0.086880,0.059028,5,Medium
29,GROUP BY SUM,pandas,0.231548,0.110546,0.417149,0.137921,5,Medium
30,GROUP BY SUM,polars,1.315700,0.078213,1.371185,1.169268,5,Medium
31,GROUP BY SUM,modin,16.688317,5.395597,27.570283,13.370752,5,Medium

_____

### ~Large file

In [17]:
### Deleting dataframes used with the Medium file data
del dtdf, dtdf1, pdf, pdf1, pldf, pldf1, pldf2, mdf, mdf1

In [18]:
file = 'data/data_large.csv'
print("File size: ", np.round(os.stat(file).st_size / (1024 * 1024), 2), "MB")
RESULT_LG = {}

File size:  281.36 MB

In [19]:
metric = 'READ_CSV'
functiontiming(cmdsrd, metric, RESULT_LG, loop = loops)
metric = 'PRINT DF SHAPE'
functiontiming(cmdshp, metric, RESULT_LG, loop = loops)
metric = 'CREATE COPY'
functiontiming(cmds_copy, metric, RESULT_LG, loop = loops)
metric = 'RENAME SINGLE COLUMN'
functiontiming(cmds_col1, metric, RESULT_LG, add_cmd = cmds_copy, loop = loops)
metric = 'RENAME ALL COLUMNS'
functiontiming(cmds_col_all, metric, RESULT_LG, add_cmd = cmds_copy, loop = loops)
metric = 'SORT ONE COLUMN'
functiontiming(cmds_sort1, metric, RESULT_LG, loop = loops)
metric = 'SORT TWO COLUMN'
functiontiming(cmds_sort2, metric, RESULT_LG, loop = loops)
metric = 'GROUP BY SUM'
functiontiming(grp_by_sum, metric, RESULT_LG, loop = loops)

READ_CSV
datatable 	 12.960919 usec
pandas 	 298.432676 usec
polars 	 44.602127 usec
modin 	 106.521939 usec
PRINT DF SHAPE
datatable 	 0.001145 usec
pandas 	 0.000642 usec
polars 	 0.000622 usec
modin 	 0.326193 usec
CREATE COPY
datatable 	 0.002653 usec
pandas 	 12.087292 usec
polars 	 0.001203 usec
modin 	 0.017987 usec
RENAME SINGLE COLUMN
datatable 	 0.00224 usec
pandas 	 12.569036 usec
polars 	 0.02044 usec
modin 	 0.176643 usec
RENAME ALL COLUMNS
datatable 	 0.001746 usec
pandas 	 0.003924 usec
polars 	 0.041022 usec
modin 	 0.183716 usec
SORT ONE COLUMN
datatable 	 0.047382 usec
pandas 	 15.363754 usec
polars 	 11.287093 usec
modin 	 41.889683 usec
SORT TWO COLUMN
datatable 	 0.329738 usec
pandas 	 20.154888 usec
polars 	 7.683111 usec
modin 	 28.747116 usec
GROUP BY SUM
datatable 	 0.142433 usec
pandas 	 0.295397 usec
polars 	 2.886836 usec
modin 	 23.541324 usec

In [20]:
dict_to_df(RESULT_LG, 'Large')

,METRIC,LIBRARY,TIME (avg),TIME (stdv),TIME (max),TIME (min),N,FILE_SZ
0,READ_CSV,datatable,12.960919,1.062282,14.908969,12.035020,5,Large
1,READ_CSV,pandas,298.432676,21.309059,339.280800,281.487870,5,Large
2,READ_CSV,polars,44.602127,3.061058,49.382250,41.272187,5,Large
3,READ_CSV,modin,106.521939,15.498428,136.799582,94.344433,5,Large
4,PRINT DF SHAPE,datatable,0.001145,0.000635,0.002054,0.000481,5,Large
5,PRINT DF SHAPE,pandas,0.000642,0.000219,0.000966,0.000465,5,Large
6,PRINT DF SHAPE,polars,0.000622,0.000344,0.001319,0.000449,5,Large
7,PRINT DF SHAPE,modin,0.326193,0.796669,1.952386,0.000747,5,Large
8,CREATE COPY,datatable,0.002653,0.004329,0.011484,0.000767,5,Large
9,CREATE COPY,pandas,12.087292,4.766327,21.802084,9.856935,5,Large
10,CREATE COPY,polars,0.001203,0.000920,0.003068,0.000747,5,Large
11,CREATE COPY,modin,0.017987,0.008828,0.035465,0.012747,5,Large
12,RENAME SINGLE COLUMN,datatable,0.002240,0.000562,0.002980,0.001669,5,Large
13,RENAME SINGLE COLUMN,pandas,12.569036,2.530676,17.326101,10.656150,5,Large
14,RENAME SINGLE COLUMN,polars,0.020440,0.027899,0.067147,0.002050,5,Large
15,RENAME SINGLE COLUMN,modin,0.176643,0.021606,0.215634,0.156470,5,Large
16,RENAME ALL COLUMNS,datatable,0.001746,0.000874,0.003517,0.001311,5,Large
17,RENAME ALL COLUMNS,pandas,0.003924,0.000105,0.004117,0.003815,5,Large
18,RENAME ALL COLUMNS,polars,0.041022,0.042106,0.119396,0.011818,5,Large
19,RENAME ALL COLUMNS,modin,0.183716,0.045310,0.270800,0.151869,5,Large
20,SORT ONE COLUMN,datatable,0.047382,0.035828,0.118931,0.026218,5,Large
21,SORT ONE COLUMN,pandas,15.363754,0.974181,17.234965,14.499950,5,Large
22,SORT ONE COLUMN,polars,11.287093,5.458546,21.691461,7.642170,5,Large
23,SORT ONE COLUMN,modin,41.889683,26.772158,95.888519,25.691768,5,Large
24,SORT TWO COLUMN,datatable,0.329738,0.063283,0.454235,0.287648,5,Large
25,SORT TWO COLUMN,pandas,20.154888,14.518905,49.772052,13.735501,5,Large
26,SORT TWO COLUMN,polars,7.683111,0.390872,8.245901,7.171468,5,Large
27,SORT TWO COLUMN,modin,28.747116,12.113436,44.386268,8.118165,5,Large
28,GROUP BY SUM,datatable,0.142433,0.046084,0.233197,0.115919,5,Large
29,GROUP BY SUM,pandas,0.295397,0.104751,0.448565,0.213118,5,Large
30,GROUP BY SUM,polars,2.886836,0.745077,4.062084,1.922421,5,Large
31,GROUP BY SUM,modin,23.541324,12.655076,48.983721,16.435321,5,Large

____

# Combining the results

In [21]:
results = dict_to_df(RESULT_LG).drop(['N'], axis = 1).merge(dict_to_df(RESULT_MD), on = ['METRIC', 'LIBRARY'], suffixes=['_LG', '_MD']).drop(['N'], axis = 1).merge(dict_to_df(RESULT_SM), on = ['METRIC', 'LIBRARY'])
ordered_columns = ['METRIC', 'LIBRARY', 'TIME (avg)_LG', 'TIME (avg)_MD', 'TIME (avg)',
                    'TIME (stdv)_LG', 'TIME (stdv)_MD', 'TIME (stdv)', 
                    'TIME (max)_LG', 'TIME (max)_MD', 'TIME (max)',
                    'TIME (min)_LG', 'TIME (min)_MD', 'TIME (min)', 'N']
results[ordered_columns]

,METRIC,LIBRARY,TIME (avg)_LG,TIME (avg)_MD,TIME (avg),TIME (stdv)_LG,TIME (stdv)_MD,TIME (stdv),TIME (max)_LG,TIME (max)_MD,TIME (max),TIME (min)_LG,TIME (min)_MD,TIME (min),N
0,READ_CSV,datatable,12.960919,8.463953,2.420696,1.062282,1.627939,0.665175,14.908969,11.441155,3.736317,12.035020,7.400799,2.033099,5
1,READ_CSV,pandas,298.432676,134.381696,9.496418,21.309059,4.010455,0.537456,339.280800,138.538436,10.566068,281.487870,127.563234,9.131217,5
2,READ_CSV,polars,44.602127,40.504661,8.329429,3.061058,4.281720,2.045710,49.382250,48.034302,12.483986,41.272187,36.701032,7.314650,5
3,READ_CSV,modin,106.521939,45.957108,31.579020,15.498428,4.543977,38.275597,136.799582,54.580398,109.646801,94.344433,42.863997,14.393214,5
4,PRINT DF SHAPE,datatable,0.001145,0.000578,0.000793,0.000635,0.000184,0.000612,0.002054,0.000934,0.002003,0.000481,0.000453,0.000433,5
5,PRINT DF SHAPE,pandas,0.000642,0.000544,0.000586,0.000219,0.000120,0.000171,0.000966,0.000783,0.000918,0.000465,0.000465,0.000469,5
6,PRINT DF SHAPE,polars,0.000622,0.000554,0.003028,0.000344,0.000191,0.006023,0.001319,0.000938,0.015318,0.000449,0.000429,0.000449,5
7,PRINT DF SHAPE,modin,0.326193,0.162850,0.039745,0.796669,0.396606,0.095012,1.952386,0.972418,0.233686,0.000747,0.000779,0.000751,5
8,CREATE COPY,datatable,0.002653,0.000866,0.001076,0.004329,0.000189,0.000674,0.011484,0.001232,0.002432,0.000767,0.000731,0.000715,5
9,CREATE COPY,pandas,12.087292,5.218464,0.425421,4.766327,2.715225,0.381883,21.802084,10.682249,1.110721,9.856935,3.806651,0.191482,5
10,CREATE COPY,polars,0.001203,0.001027,0.001263,0.000920,0.000414,0.001106,0.003068,0.001836,0.003505,0.000747,0.000715,0.000719,5
11,CREATE COPY,modin,0.017987,0.014086,0.017889,0.008828,0.001067,0.005253,0.035465,0.015664,0.026254,0.012747,0.012799,0.012883,5
12,RENAME SINGLE COLUMN,datatable,0.002240,0.001602,0.003952,0.000562,0.000201,0.005821,0.002980,0.001919,0.015831,0.001669,0.001419,0.001462,5
13,RENAME SINGLE COLUMN,pandas,12.569036,4.027289,0.220145,2.530676,0.026324,0.033472,17.326101,4.072702,0.287600,10.656150,4.003533,0.203669,5
14,RENAME SINGLE COLUMN,polars,0.020440,0.003894,0.051944,0.027899,0.002516,0.116078,0.067147,0.008818,0.288868,0.002050,0.002150,0.002197,5
15,RENAME SINGLE COLUMN,modin,0.176643,0.180635,0.181792,0.021606,0.034553,0.026045,0.215634,0.248182,0.219782,0.156470,0.157448,0.150486,5
16,RENAME ALL COLUMNS,datatable,0.001746,0.001415,0.001485,0.000874,0.000155,0.000305,0.003517,0.001717,0.002098,0.001311,0.001303,0.001303,5
17,RENAME ALL COLUMNS,pandas,0.003924,0.003972,0.004066,0.000105,0.000201,0.000268,0.004117,0.004216,0.004470,0.003815,0.003735,0.003783,5
18,RENAME ALL COLUMNS,polars,0.041022,0.022747,0.025676,0.042106,0.016380,0.022112,0.119396,0.049682,0.069384,0.011818,0.011130,0.011651,5
19,RENAME ALL COLUMNS,modin,0.183716,0.193961,0.197920,0.045310,0.045582,0.053467,0.270800,0.281882,0.274467,0.151869,0.160670,0.151781,5
20,SORT ONE COLUMN,datatable,0.047382,0.021658,0.034239,0.035828,0.011908,0.054244,0.118931,0.045935,0.144951,0.026218,0.016181,0.011146,5
21,SORT ONE COLUMN,pandas,15.363754,6.007072,0.386392,0.974181,0.112677,0.053994,17.234965,6.140447,0.475971,14.499950,5.820513,0.338697,5
22,SORT ONE COLUMN,polars,11.287093,5.094405,0.522579,5.458546,4.028670,0.461009,21.691461,13.274519,1.459551,7.642170,2.912688,0.253403,5
23,SORT ONE COLUMN,modin,41.889683,27.847729,18.869721,26.772158,10.182535,6.255044,95.888519,42.881986,29.247435,25.691768,14.387317,14.546200,5
24,SORT TWO COLUMN,datatable,0.329738,0.249862,0.062195,0.063283,0.038851,0.010341,0.454235,0.323300,0.080450,0.287648,0.211883,0.052901,5
25,SORT TWO COLUMN,pandas,20.154888,12.300106,0.706996,14.518905,11.297018,0.076933,49.772052,35.154215,0.810297,13.735501,6.543950,0.598832,5
26,SORT TWO COLUMN,polars,7.683111,3.583764,0.377167,0.390872,0.269730,0.082037,8.245901,4.108755,0.488583,7.171468,3.374314,0.301353,5
27,SORT TWO COLUMN,modin,28.747116,23.744343,18.257268,12.113436,8.301423,3.811113,44.386268,33.700470,24.782201,8.118165,8.505646,15.240765,5
28,GROUP BY SUM,datatable,0.142433,0.071418,0.029096,0.046084,0.011139,0.015362,0.233197,0.086880,0.058250,0.115919,0.059028,0.015517,5
29,GROUP BY SUM,pandas,0.295397,0.231548,0.070594,0.104751,0.110546,0.038758,0.448565,0.417149,0.130737,0.213118,0.137921,0.040201,5
30,GROUP BY SUM,polars,2.886836,1.315700,0.187970,0.745077,0.078213,0.089423,4.062084,1.371185,0.368285,1.922421,1.169268,0.134953,5
31,GROUP BY SUM,modin,23.541324,16.688317,13.701355,12.655076,5.395597,3.941621,48.983721,27.570283,21.632183,16.435321,13.370752,11.630682,5