# PANDAS ALTERNATIVES IN PYTHON

- System: 

    Mackbook Pro 15 Inch, 2019 
        
        Processor: 2.3 GHz 8-Core Intel Core i9
        
        Memory: 16 GB 2400 MHz DDR4
        
        macOS:  Sonoma 14.5 Beta (23F5049f)

- Python 3.12.2

______

In [7]:
# Importing libraries 
import polars as pl
import datatable  as dt
import os
os.environ['MODIN_ENGINE'] = 'dask'
os.environ['MODIN_STORAGE_FORMAT'] = 'pandas'
import modin.pandas as md
import modin
print("NUM Partitions available: ", modin.config.NPartitions.get())
import pandas as pd
import time
import numpy as np
from statistics import mean, stdev

# Initializing dask 
# from distributed import Client
# client = Client() 
from dask.distributed import Client
client = Client()

NUM Partitions available:  16

In [8]:
def exec_time(code_str):
    start = time.time()
    exec(code_str, globals(), locals())
    end = time.time()
    return np.round((end-start)/60*1000, 6)

def functiontiming(cmd_d, metr_nm, dictionary, loop = 10, add_cmd = None):
    print(metr_nm)
    for key, cmd in cmd_d.items():
        counter = 0
        times = []
        try: 
            while counter <= loop:
                if add_cmd:
                    new_cmd = add_cmd[key]
                    exec_time(new_cmd)
                time = exec_time(cmd)
                times.append(time)
                counter +=1
            meant = np.round(mean(times), 6)
            stdevt = np.round(stdev(times), 6)
            maxt = np.round(max(times), 6)
            mint = np.round(min(times), 6)
            add_dic = {'METRIC': metr_nm, 'LIBRARY': key, 'TIME (avg)': meant, "TIME (stdv)": stdevt, "TIME (max)": maxt, "TIME (min)": mint,   'N': loop}

        except Exception as E:
            print(key, " ERROR:\n", str(E))
            add_dic = {}

        if metr_nm in dictionary:
            dictionary[metr_nm].append(add_dic)
        else: 
            dictionary[metr_nm] = [add_dic]
        try: 
            print(key, '\t', meant, 'usec')     
        except: print('No data')
        
def dict_to_df(dictionary, file_size = None):
    df = pd.DataFrame()
    for k, v in dictionary.items(): 
        df1 = pd.DataFrame(v)
        df = pd.concat([df, df1], axis = 0).reset_index(drop = True)
    if file_size: 
        df.loc[:,'FILE_SZ'] = file_size
    return df

______ 
### ~SMALL FILE

In [9]:
# Number of data points to calculate statictics 
loops = 5
file = 'data/data_small.csv'
print("File size: ", np.round(os.stat(file).st_size / (1024 * 1024), 2), "MB")
RESULT_SM = {}

File size:  145.88 MB

In [10]:
cmdsrd = {
        'datatable': 'global dtdf ; dtdf = dt.fread(file)',
        'pandas'   : 'global pdf  ; pdf = pd.read_csv(file, low_memory = False )',
        'polars'   : 'global pldf ; pldf = pl.read_csv(file, infer_schema_length=100000, ignore_errors = True )',
        'modin'    : 'global mdf  ; mdf = md.read_csv(file, low_memory = False)'
        }
metric = 'READ_CSV'
functiontiming(cmdsrd, metric, RESULT_SM, loop = loops)

READ_CSV
datatable  ERROR:
 File /Users/jorgepinzon/Google Drive/01_GitHub/PANDAS_ALTERNATIVES/data/data_small.csv does not exist
No data
pandas  ERROR:
 [Errno 2] No such file or directory: 'data/data_small.csv'
No data
polars  ERROR:
 No such file or directory (os error 2): data/data_small.csv
No data
modin  ERROR:
 [Errno 2] No such file or directory: 'data/data_small.csv'
No data

UserWarning: Defaulting to pandas implementation.
Please refer to https://modin.readthedocs.io/en/stable/supported_apis/defaulting_to_pandas.html for explanation.
Reason: No such file: '/Users/jorgepinzon/Google Drive/01_GitHub/PANDAS_ALTERNATIVES/data/data_small.csv'

In [11]:
exec('dtdf = dt.fread(file)')

ValueError: File /Users/jorgepinzon/Google Drive/01_GitHub/PANDAS_ALTERNATIVES/data/data_small.csv does not exist

In [ ]:
cmdshp = {
        'datatable': 'dtdf.shape',
        'pandas'   : 'pdf.shape',
        'polars'   : 'pldf.shape',
        'modin'    : 'mdf.shape'
        }
metric = 'PRINT DF SHAPE'

functiontiming(cmdshp, metric, RESULT_SM, loop = loops)

PRINT DF SHAPE
datatable 	 0.000598 usec
pandas 	 0.00055 usec
polars 	 0.000566 usec
modin 	 0.018185 usec

In [ ]:
cmds_copy = {
        'datatable': 'global dtdf1 ; dtdf1 = dtdf.copy()',
         'pandas'  : 'global pdf1  ; pdf1 = pdf.copy()',
         'polars'  : 'global pldf1 ; pldf1 = pldf.clone()',
         'modin'   : 'global mdf1  ; mdf1 = mdf.copy()'
        }
metric = 'CREATE COPY'
functiontiming(cmds_copy, metric, RESULT_SM, loop = loops)

CREATE COPY
datatable 	 0.000961 usec
pandas 	 0.272065 usec
polars 	 0.000948 usec
modin 	 0.012418 usec

In [ ]:
cmds_col1 = {
         'datatable': 'global dtdf1 ; dtdf1.names = {"CRASH_CRN":"CRASH_CRNnew"}',
         'pandas'   : 'global pdf1  ; pdf1 = pdf1.rename(columns = {"CRASH_CRN":"CRASH_CRNnew"})',
         'polars'   : 'global pldf1 ; pldf1 = pldf1.rename({"CRASH_CRN":"CRASH_CRNnew"})',
         'modin'    : 'global mdf1  ; mdf1 = mdf1.rename(columns = {"CRASH_CRN":"CRASH_CRNnew"})'
        }
metric = 'RENAME SINGLE COLUMN'
functiontiming(cmds_col1, metric, RESULT_SM, add_cmd = cmds_copy, loop = loops)

RENAME SINGLE COLUMN
datatable 	 0.001522 usec
pandas 	 0.179432 usec
polars 	 0.004174 usec
modin 	 0.150721 usec

In [ ]:
new_columns = [col+'NEW' for col in pdf.columns]
new_colums_dict = {}
for col in pdf.columns:
    new_colums_dict[col] = col+'NEW'

cmds_col_all = {
         'datatable': 'global dtdf  ; dtdf.names = new_columns',
         'pandas'   : 'global pdf   ; pdf.columns = new_columns',
         # For polars to work with no errors I had to create a new dataframe. 
         # Tests without new copy in other platforms worked with no issues
         'polars'   : 'global pldf2 ; pldf2 =  pldf.rename(new_colums_dict)',
         'modin'    : 'global mdf   ; mdf = mdf.rename(columns = new_colums_dict)'
        }
metric = 'RENAME ALL COLUMNS'
functiontiming(cmds_col_all, metric, RESULT_SM, add_cmd = cmds_copy, loop = loops)

RENAME ALL COLUMNS
datatable 	 0.001325 usec
pandas 	 0.007398 usec
polars 	 0.03685 usec
modin 	 0.159959 usec

In [ ]:
cmds_sort1 = {
         'datatable': 'dtdf[:,:, dt.sort("MUNICIPALITYNEW", reverse=True)]',
         'pandas'   : 'pdf.sort_values(by = ["MUNICIPALITYNEW"], ascending = [False])',
         'polars'   : 'pldf2.sort("MUNICIPALITYNEW", descending=True)',
         'modin'    : 'mdf.sort_values(by = ["MUNICIPALITYNEW"], ascending = [False])'
        }
metric = 'SORT ONE COLUMN'
functiontiming(cmds_sort1, metric, RESULT_SM, loop = loops)

SORT ONE COLUMN
datatable 	 0.012318 usec
pandas 	 0.326001 usec
polars 	 0.253177 usec
modin 	 3.1554 usec

In [ ]:
cmds_sort2 = {
         'datatable': 'dtdf[:,:, dt.sort(["MUNICIPALITYNEW", "CRASH_YEARNEW"], reverse=[True, False])]',
         'pandas'   : 'pdf.sort_values(by = ["MUNICIPALITYNEW", "CRASH_YEARNEW"], ascending = [False, True])',
         'polars'   : 'pldf2.sort("MUNICIPALITYNEW", "CRASH_YEARNEW", descending=[True, False])',
         'modin'    : 'mdf.sort_values(by = ["MUNICIPALITYNEW", "CRASH_YEARNEW"], ascending = [False, True])'
        }
metric = 'SORT TWO COLUMN'
functiontiming(cmds_sort2, metric, RESULT_SM, loop = loops)

SORT TWO COLUMN
datatable 	 0.063236 usec
pandas 	 0.357587 usec
polars 	 0.245902 usec
modin 	 2.763193 usec

In [ ]:
from datatable import dt, f, by
grp_by_sum = {
         'datatable': 'dtdf[:, dt.sum(f.CRASH_YEARNEW), by("MUNICIPALITYNEW")]',
         'pandas'   : 'pdf.groupby("MUNICIPALITYNEW")["CRASH_YEARNEW"].sum()',
         'polars'   : 'pldf2.group_by("MUNICIPALITYNEW").agg(pl.sum("CRASH_YEARNEW"))',
         'modin'    : 'mdf.groupby("MUNICIPALITYNEW")["CRASH_YEARNEW"].sum()'
        }
metric = 'GROUP BY SUM'
functiontiming(grp_by_sum, metric, RESULT_SM, loop = loops)

GROUP BY SUM
datatable 	 0.014901 usec
pandas 	 0.076205 usec
polars 	 0.137009 usec
modin 	 3.960804 usec

In [ ]:
dict_to_df(RESULT_SM, 'Small')

,METRIC,LIBRARY,TIME (avg),TIME (stdv),TIME (max),TIME (min),N,FILE_SZ
0,READ_CSV,datatable,2.355627,0.725932,3.834685,2.000550,5,Small
1,READ_CSV,pandas,8.711701,0.505247,9.393732,8.197554,5,Small
2,READ_CSV,polars,7.503202,0.600292,8.722500,7.205685,5,Small
3,READ_CSV,modin,8.170694,4.261754,16.637270,5.675467,5,Small
4,PRINT DF SHAPE,datatable,0.000598,0.000266,0.001121,0.000437,5,Small
5,PRINT DF SHAPE,pandas,0.000550,0.000159,0.000866,0.000449,5,Small
6,PRINT DF SHAPE,polars,0.000566,0.000232,0.001029,0.000433,5,Small
7,PRINT DF SHAPE,modin,0.018185,0.041733,0.103370,0.000866,5,Small
8,CREATE COPY,datatable,0.000961,0.000392,0.001733,0.000715,5,Small
9,CREATE COPY,pandas,0.272065,0.159001,0.487037,0.163253,5,Small
10,CREATE COPY,polars,0.000948,0.000438,0.001816,0.000683,5,Small
11,CREATE COPY,modin,0.012418,0.006016,0.024164,0.008214,5,Small
12,RENAME SINGLE COLUMN,datatable,0.001522,0.000305,0.002134,0.001351,5,Small
13,RENAME SINGLE COLUMN,pandas,0.179432,0.017554,0.205282,0.165399,5,Small
14,RENAME SINGLE COLUMN,polars,0.004174,0.003340,0.010486,0.002098,5,Small
15,RENAME SINGLE COLUMN,modin,0.150721,0.007389,0.163662,0.143969,5,Small
16,RENAME ALL COLUMNS,datatable,0.001325,0.000178,0.001669,0.001184,5,Small
17,RENAME ALL COLUMNS,pandas,0.007398,0.005088,0.016936,0.004152,5,Small
18,RENAME ALL COLUMNS,polars,0.036850,0.013818,0.064735,0.028749,5,Small
19,RENAME ALL COLUMNS,modin,0.159959,0.014021,0.185267,0.146317,5,Small
20,SORT ONE COLUMN,datatable,0.012318,0.002067,0.016455,0.010951,5,Small
21,SORT ONE COLUMN,pandas,0.326001,0.030388,0.384235,0.302668,5,Small
22,SORT ONE COLUMN,polars,0.253177,0.099328,0.452081,0.195646,5,Small
23,SORT ONE COLUMN,modin,3.155400,0.495113,3.847186,2.664701,5,Small
24,SORT TWO COLUMN,datatable,0.063236,0.016383,0.094700,0.048916,5,Small
25,SORT TWO COLUMN,pandas,0.357587,0.091431,0.479484,0.291018,5,Small
26,SORT TWO COLUMN,polars,0.245902,0.040582,0.322231,0.200816,5,Small
27,SORT TWO COLUMN,modin,2.763193,0.638092,3.455087,1.749718,5,Small
28,GROUP BY SUM,datatable,0.014901,0.001910,0.017385,0.012851,5,Small
29,GROUP BY SUM,pandas,0.076205,0.012735,0.092049,0.053767,5,Small
30,GROUP BY SUM,polars,0.137009,0.019895,0.164406,0.113467,5,Small
31,GROUP BY SUM,modin,3.960804,0.691835,5.236570,3.488032,5,Small

_____

### ~Medium file

In [ ]:
### Deleting dataframes used with the Small file data
del dtdf, dtdf1, pdf, pdf1, pldf, pldf1, pldf2, mdf, mdf1

In [ ]:
file = 'data/data_medium.csv'
print("File size: ", np.round(os.stat(file).st_size / (1024 * 1024), 2), "MB")
RESULT_MD = {}

File size:  140.68 MB

In [ ]:
metric = 'READ_CSV'
functiontiming(cmdsrd, metric, RESULT_MD, loop = loops)
metric = 'PRINT DF SHAPE'
functiontiming(cmdshp, metric, RESULT_MD, loop = loops)
metric = 'CREATE COPY'
functiontiming(cmds_copy, metric, RESULT_MD, loop = loops)
metric = 'RENAME SINGLE COLUMN'
functiontiming(cmds_col1, metric, RESULT_MD, add_cmd = cmds_copy, loop = loops)
metric = 'RENAME ALL COLUMNS'
functiontiming(cmds_col_all, metric, RESULT_MD, add_cmd = cmds_copy, loop = loops)
metric = 'SORT ONE COLUMN'
functiontiming(cmds_sort1, metric, RESULT_MD, loop = loops)
metric = 'SORT TWO COLUMN'
functiontiming(cmds_sort2, metric, RESULT_MD, loop = loops)
metric = 'GROUP BY SUM'
functiontiming(grp_by_sum, metric, RESULT_MD, loop = loops)

READ_CSV
datatable 	 7.954239 usec
pandas 	 126.393983 usec
polars 	 36.725594 usec

UserWarning: `read_*` implementation has mismatches with pandas:
Data types of partitions are different! Please refer to the troubleshooting section of the Modin documentation to fix this issue.

modin 	 61.07116 usec
PRINT DF SHAPE
datatable 	 0.000564 usec
pandas 	 0.000559 usec
polars 	 0.000542 usec
modin 	 0.016289 usec
CREATE COPY
datatable 	 0.001046 usec
pandas 	 4.94878 usec
polars 	 0.000934 usec
modin 	 0.010794 usec
RENAME SINGLE COLUMN
datatable 	 0.001584 usec
pandas 	 3.879891 usec
polars 	 0.003845 usec
modin 	 0.150649 usec
RENAME ALL COLUMNS
datatable 	 0.001508 usec
pandas 	 0.003861 usec
polars 	 0.016857 usec
modin 	 0.147617 usec
SORT ONE COLUMN
datatable 	 0.023423 usec
pandas 	 5.570397 usec
polars 	 3.336128 usec
modin 	 7.622485 usec
SORT TWO COLUMN
datatable 	 0.20561 usec
pandas 	 5.839662 usec
polars 	 2.901324 usec
modin 	 7.137478 usec
GROUP BY SUM
datatable 	 0.074708 usec
pandas 	 0.169686 usec
polars 	 0.98598 usec
modin 	 4.588593 usec

In [ ]:
dict_to_df(RESULT_MD, 'Medium')

,METRIC,LIBRARY,TIME (avg),TIME (stdv),TIME (max),TIME (min),N,FILE_SZ
0,READ_CSV,datatable,7.954239,1.474978,10.524038,6.949000,5,Medium
1,READ_CSV,pandas,126.393983,3.118817,130.355835,122.228249,5,Medium
2,READ_CSV,polars,36.725594,2.129879,39.859315,34.932601,5,Medium
3,READ_CSV,modin,61.071160,7.703018,69.108534,51.191413,5,Medium
4,PRINT DF SHAPE,datatable,0.000564,0.000157,0.000866,0.000453,5,Medium
5,PRINT DF SHAPE,pandas,0.000559,0.000100,0.000751,0.000481,5,Medium
6,PRINT DF SHAPE,polars,0.000542,0.000117,0.000767,0.000465,5,Medium
7,PRINT DF SHAPE,modin,0.016289,0.037459,0.092749,0.000783,5,Medium
8,CREATE COPY,datatable,0.001046,0.000370,0.001733,0.000763,5,Medium
9,CREATE COPY,pandas,4.948780,2.608427,10.184550,3.630650,5,Medium
10,CREATE COPY,polars,0.000934,0.000321,0.001554,0.000735,5,Medium
11,CREATE COPY,modin,0.010794,0.005549,0.021998,0.007733,5,Medium
12,RENAME SINGLE COLUMN,datatable,0.001584,0.000167,0.001800,0.001383,5,Medium
13,RENAME SINGLE COLUMN,pandas,3.879891,0.124335,4.121582,3.792715,5,Medium
14,RENAME SINGLE COLUMN,polars,0.003845,0.002645,0.007554,0.001967,5,Medium
15,RENAME SINGLE COLUMN,modin,0.150649,0.006431,0.161032,0.143731,5,Medium
16,RENAME ALL COLUMNS,datatable,0.001508,0.000609,0.002746,0.001216,5,Medium
17,RENAME ALL COLUMNS,pandas,0.003861,0.000108,0.003982,0.003731,5,Medium
18,RENAME ALL COLUMNS,polars,0.016857,0.008690,0.031483,0.010947,5,Medium
19,RENAME ALL COLUMNS,modin,0.147617,0.006408,0.156101,0.139952,5,Medium
20,SORT ONE COLUMN,datatable,0.023423,0.012487,0.048415,0.015736,5,Medium
21,SORT ONE COLUMN,pandas,5.570397,0.048265,5.642418,5.498834,5,Medium
22,SORT ONE COLUMN,polars,3.336128,1.099511,5.487581,2.675168,5,Medium
23,SORT ONE COLUMN,modin,7.622485,5.566268,18.474678,3.301366,5,Medium
24,SORT TWO COLUMN,datatable,0.205610,0.034359,0.265952,0.179148,5,Medium
25,SORT TWO COLUMN,pandas,5.839662,1.167511,8.208501,5.212283,5,Medium
26,SORT TWO COLUMN,polars,2.901324,0.100138,3.075663,2.793698,5,Medium
27,SORT TWO COLUMN,modin,7.137478,7.672122,22.378552,1.796834,5,Medium
28,GROUP BY SUM,datatable,0.074708,0.022975,0.114882,0.058150,5,Medium
29,GROUP BY SUM,pandas,0.169686,0.050442,0.237985,0.111369,5,Medium
30,GROUP BY SUM,polars,0.985980,0.098391,1.144850,0.856201,5,Medium
31,GROUP BY SUM,modin,4.588593,2.067649,8.673382,3.319252,5,Medium

_____

### ~Large file

In [ ]:
### Deleting dataframes used with the Medium file data
del dtdf, dtdf1, pdf, pdf1, pldf, pldf1, pldf2, mdf, mdf1

In [ ]:
file = 'data/data_large.csv'
print("File size: ", np.round(os.stat(file).st_size / (1024 * 1024), 2), "MB")
RESULT_LG = {}

File size:  281.36 MB

In [ ]:
metric = 'READ_CSV'
functiontiming(cmdsrd, metric, RESULT_LG, loop = loops)
metric = 'PRINT DF SHAPE'
functiontiming(cmdshp, metric, RESULT_LG, loop = loops)
metric = 'CREATE COPY'
functiontiming(cmds_copy, metric, RESULT_LG, loop = loops)
metric = 'RENAME SINGLE COLUMN'
functiontiming(cmds_col1, metric, RESULT_LG, add_cmd = cmds_copy, loop = loops)
metric = 'RENAME ALL COLUMNS'
functiontiming(cmds_col_all, metric, RESULT_LG, add_cmd = cmds_copy, loop = loops)
metric = 'SORT ONE COLUMN'
functiontiming(cmds_sort1, metric, RESULT_LG, loop = loops)
metric = 'SORT TWO COLUMN'
functiontiming(cmds_sort2, metric, RESULT_LG, loop = loops)
metric = 'GROUP BY SUM'
functiontiming(grp_by_sum, metric, RESULT_LG, loop = loops)

READ_CSV
datatable 	 11.256216 usec
pandas 	 249.41049 usec
polars 	 40.443877 usec
modin 	 109.075824 usec
PRINT DF SHAPE
datatable 	 0.001249 usec
pandas 	 0.000562 usec
polars 	 0.000539 usec
modin 	 0.12178 usec
CREATE COPY
datatable 	 0.000935 usec
pandas 	 11.702964 usec
polars 	 0.001119 usec
modin 	 0.011405 usec
RENAME SINGLE COLUMN
datatable 	 0.001461 usec
pandas 	 9.878091 usec
polars 	 0.00534 usec
modin 	 0.15279 usec
RENAME ALL COLUMNS
datatable 	 0.001366 usec
pandas 	 0.003885 usec
polars 	 0.016311 usec
modin 	 0.162061 usec
SORT ONE COLUMN
datatable 	 0.041869 usec
pandas 	 13.426175 usec
polars 	 8.675006 usec
modin 	 6.255085 usec
SORT TWO COLUMN
datatable 	 0.694124 usec
pandas 	 33.6623 usec
polars 	 7.367246 usec
modin 	 8.555971 usec
GROUP BY SUM
datatable 	 0.2961 usec
pandas 	 0.534111 usec
polars 	 4.151339 usec
modin 	 6.143075 usec

In [ ]:
dict_to_df(RESULT_LG, 'Large')

,METRIC,LIBRARY,TIME (avg),TIME (stdv),TIME (max),TIME (min),N,FILE_SZ
0,READ_CSV,datatable,11.256216,1.257334,13.818534,10.660183,5,Large
1,READ_CSV,pandas,249.410490,5.901714,256.822884,239.274251,5,Large
2,READ_CSV,polars,40.443877,1.867358,43.961716,39.312232,5,Large
3,READ_CSV,modin,109.075824,14.388093,130.107697,98.880951,5,Large
4,PRINT DF SHAPE,datatable,0.001249,0.001672,0.004649,0.000453,5,Large
5,PRINT DF SHAPE,pandas,0.000562,0.000135,0.000819,0.000465,5,Large
6,PRINT DF SHAPE,polars,0.000539,0.000147,0.000834,0.000453,5,Large
7,PRINT DF SHAPE,modin,0.121780,0.295958,0.725901,0.000783,5,Large
8,CREATE COPY,datatable,0.000935,0.000303,0.001530,0.000727,5,Large
9,CREATE COPY,pandas,11.702964,5.728085,23.351800,9.042732,5,Large
10,CREATE COPY,polars,0.001119,0.000724,0.002579,0.000735,5,Large
11,CREATE COPY,modin,0.011405,0.005733,0.022932,0.007836,5,Large
12,RENAME SINGLE COLUMN,datatable,0.001461,0.000150,0.001748,0.001351,5,Large
13,RENAME SINGLE COLUMN,pandas,9.878091,0.027421,9.917784,9.849052,5,Large
14,RENAME SINGLE COLUMN,polars,0.005340,0.004529,0.013351,0.002098,5,Large
15,RENAME SINGLE COLUMN,modin,0.152790,0.004810,0.160420,0.147732,5,Large
16,RENAME ALL COLUMNS,datatable,0.001366,0.000272,0.001915,0.001216,5,Large
17,RENAME ALL COLUMNS,pandas,0.003885,0.000153,0.004152,0.003735,5,Large
18,RENAME ALL COLUMNS,polars,0.016311,0.008011,0.029751,0.010832,5,Large
19,RENAME ALL COLUMNS,modin,0.162061,0.008360,0.175134,0.153565,5,Large
20,SORT ONE COLUMN,datatable,0.041869,0.025796,0.077283,0.023818,5,Large
21,SORT ONE COLUMN,pandas,13.426175,0.096565,13.593133,13.321372,5,Large
22,SORT ONE COLUMN,polars,8.675006,3.619119,16.014735,6.813280,5,Large
23,SORT ONE COLUMN,modin,6.255085,1.564839,8.463299,4.503032,5,Large
24,SORT TWO COLUMN,datatable,0.694124,0.335184,1.352799,0.457684,5,Large
25,SORT TWO COLUMN,pandas,33.662300,33.176600,85.297465,12.462119,5,Large
26,SORT TWO COLUMN,polars,7.367246,0.827792,9.043801,6.918565,5,Large
27,SORT TWO COLUMN,modin,8.555971,6.935968,19.916471,1.885887,5,Large
28,GROUP BY SUM,datatable,0.296100,0.076115,0.443618,0.235780,5,Large
29,GROUP BY SUM,pandas,0.534111,0.174275,0.755016,0.332153,5,Large
30,GROUP BY SUM,polars,4.151339,1.255917,6.051803,2.428846,5,Large
31,GROUP BY SUM,modin,6.143075,6.001356,18.389797,3.526052,5,Large

In [ ]:
# Stopping Dask Client
client.close()

____

# Combining the results

In [ ]:
results = dict_to_df(RESULT_LG).drop(['N'], axis = 1).merge(dict_to_df(RESULT_MD), on = ['METRIC', 'LIBRARY'], suffixes=['_LG', '_MD']).drop(['N'], axis = 1).merge(dict_to_df(RESULT_SM), on = ['METRIC', 'LIBRARY'])
ordered_columns = ['METRIC', 'LIBRARY', 'TIME (avg)_LG', 'TIME (avg)_MD', 'TIME (avg)',
                    'TIME (stdv)_LG', 'TIME (stdv)_MD', 'TIME (stdv)', 
                    'TIME (max)_LG', 'TIME (max)_MD', 'TIME (max)',
                    'TIME (min)_LG', 'TIME (min)_MD', 'TIME (min)', 'N']
results[ordered_columns]

,METRIC,LIBRARY,TIME (avg)_LG,TIME (avg)_MD,TIME (avg),TIME (stdv)_LG,TIME (stdv)_MD,TIME (stdv),TIME (max)_LG,TIME (max)_MD,TIME (max),TIME (min)_LG,TIME (min)_MD,TIME (min),N
0,READ_CSV,datatable,11.256216,7.954239,2.355627,1.257334,1.474978,0.725932,13.818534,10.524038,3.834685,10.660183,6.949000,2.000550,5
1,READ_CSV,pandas,249.410490,126.393983,8.711701,5.901714,3.118817,0.505247,256.822884,130.355835,9.393732,239.274251,122.228249,8.197554,5
2,READ_CSV,polars,40.443877,36.725594,7.503202,1.867358,2.129879,0.600292,43.961716,39.859315,8.722500,39.312232,34.932601,7.205685,5
3,READ_CSV,modin,109.075824,61.071160,8.170694,14.388093,7.703018,4.261754,130.107697,69.108534,16.637270,98.880951,51.191413,5.675467,5
4,PRINT DF SHAPE,datatable,0.001249,0.000564,0.000598,0.001672,0.000157,0.000266,0.004649,0.000866,0.001121,0.000453,0.000453,0.000437,5
5,PRINT DF SHAPE,pandas,0.000562,0.000559,0.000550,0.000135,0.000100,0.000159,0.000819,0.000751,0.000866,0.000465,0.000481,0.000449,5
6,PRINT DF SHAPE,polars,0.000539,0.000542,0.000566,0.000147,0.000117,0.000232,0.000834,0.000767,0.001029,0.000453,0.000465,0.000433,5
7,PRINT DF SHAPE,modin,0.121780,0.016289,0.018185,0.295958,0.037459,0.041733,0.725901,0.092749,0.103370,0.000783,0.000783,0.000866,5
8,CREATE COPY,datatable,0.000935,0.001046,0.000961,0.000303,0.000370,0.000392,0.001530,0.001733,0.001733,0.000727,0.000763,0.000715,5
9,CREATE COPY,pandas,11.702964,4.948780,0.272065,5.728085,2.608427,0.159001,23.351800,10.184550,0.487037,9.042732,3.630650,0.163253,5
10,CREATE COPY,polars,0.001119,0.000934,0.000948,0.000724,0.000321,0.000438,0.002579,0.001554,0.001816,0.000735,0.000735,0.000683,5
11,CREATE COPY,modin,0.011405,0.010794,0.012418,0.005733,0.005549,0.006016,0.022932,0.021998,0.024164,0.007836,0.007733,0.008214,5
12,RENAME SINGLE COLUMN,datatable,0.001461,0.001584,0.001522,0.000150,0.000167,0.000305,0.001748,0.001800,0.002134,0.001351,0.001383,0.001351,5
13,RENAME SINGLE COLUMN,pandas,9.878091,3.879891,0.179432,0.027421,0.124335,0.017554,9.917784,4.121582,0.205282,9.849052,3.792715,0.165399,5
14,RENAME SINGLE COLUMN,polars,0.005340,0.003845,0.004174,0.004529,0.002645,0.003340,0.013351,0.007554,0.010486,0.002098,0.001967,0.002098,5
15,RENAME SINGLE COLUMN,modin,0.152790,0.150649,0.150721,0.004810,0.006431,0.007389,0.160420,0.161032,0.163662,0.147732,0.143731,0.143969,5
16,RENAME ALL COLUMNS,datatable,0.001366,0.001508,0.001325,0.000272,0.000609,0.000178,0.001915,0.002746,0.001669,0.001216,0.001216,0.001184,5
17,RENAME ALL COLUMNS,pandas,0.003885,0.003861,0.007398,0.000153,0.000108,0.005088,0.004152,0.003982,0.016936,0.003735,0.003731,0.004152,5
18,RENAME ALL COLUMNS,polars,0.016311,0.016857,0.036850,0.008011,0.008690,0.013818,0.029751,0.031483,0.064735,0.010832,0.010947,0.028749,5
19,RENAME ALL COLUMNS,modin,0.162061,0.147617,0.159959,0.008360,0.006408,0.014021,0.175134,0.156101,0.185267,0.153565,0.139952,0.146317,5
20,SORT ONE COLUMN,datatable,0.041869,0.023423,0.012318,0.025796,0.012487,0.002067,0.077283,0.048415,0.016455,0.023818,0.015736,0.010951,5
21,SORT ONE COLUMN,pandas,13.426175,5.570397,0.326001,0.096565,0.048265,0.030388,13.593133,5.642418,0.384235,13.321372,5.498834,0.302668,5
22,SORT ONE COLUMN,polars,8.675006,3.336128,0.253177,3.619119,1.099511,0.099328,16.014735,5.487581,0.452081,6.813280,2.675168,0.195646,5
23,SORT ONE COLUMN,modin,6.255085,7.622485,3.155400,1.564839,5.566268,0.495113,8.463299,18.474678,3.847186,4.503032,3.301366,2.664701,5
24,SORT TWO COLUMN,datatable,0.694124,0.205610,0.063236,0.335184,0.034359,0.016383,1.352799,0.265952,0.094700,0.457684,0.179148,0.048916,5
25,SORT TWO COLUMN,pandas,33.662300,5.839662,0.357587,33.176600,1.167511,0.091431,85.297465,8.208501,0.479484,12.462119,5.212283,0.291018,5
26,SORT TWO COLUMN,polars,7.367246,2.901324,0.245902,0.827792,0.100138,0.040582,9.043801,3.075663,0.322231,6.918565,2.793698,0.200816,5
27,SORT TWO COLUMN,modin,8.555971,7.137478,2.763193,6.935968,7.672122,0.638092,19.916471,22.378552,3.455087,1.885887,1.796834,1.749718,5
28,GROUP BY SUM,datatable,0.296100,0.074708,0.014901,0.076115,0.022975,0.001910,0.443618,0.114882,0.017385,0.235780,0.058150,0.012851,5
29,GROUP BY SUM,pandas,0.534111,0.169686,0.076205,0.174275,0.050442,0.012735,0.755016,0.237985,0.092049,0.332153,0.111369,0.053767,5
30,GROUP BY SUM,polars,4.151339,0.985980,0.137009,1.255917,0.098391,0.019895,6.051803,1.144850,0.164406,2.428846,0.856201,0.113467,5
31,GROUP BY SUM,modin,6.143075,4.588593,3.960804,6.001356,2.067649,0.691835,18.389797,8.673382,5.236570,3.526052,3.319252,3.488032,5