# PANDAS ALTERNATIVES IN PYTHON

- System: 

    Mackbook Pro 15 Inch, 2019 
        
        Processor: 2.3 GHz 8-Core Intel Core i9
        
        Memory: 16 GB 2400 MHz DDR4
        
        macOS:  Sonoma 14.5 Beta (23F5049f)

- Python 3.12.2

______

In [1]:
# Importing libraries 
import polars as pl
import datatable  as dt
import os
os.environ['MODIN_ENGINE'] = 'dask'
os.environ['MODIN_STORAGE_FORMAT'] = 'pandas'
import modin.pandas as md
import modin
print("NUM Partitions available: ", modin.config.NPartitions.get())
import pandas as pd
import time
import numpy as np
from statistics import mean, stdev

# Initializing dask 
# from distributed import Client
# client = Client() 
from dask.distributed import Client
client = Client()

NUM Partitions available:  16

In [2]:
def exec_time(code_str):
    start = time.time()
    exec(code_str, globals(), locals())
    end = time.time()
    return np.round((end-start)/60*1000, 6)

def functiontiming(cmd_d, metr_nm, dictionary, loop = 10, add_cmd = None):
    print(metr_nm)
    for key, cmd in cmd_d.items():
        counter = 0
        times = []
        try: 
            while counter <= loop:
                if add_cmd:
                    new_cmd = add_cmd[key]
                    exec_time(new_cmd)
                time = exec_time(cmd)
                times.append(time)
                counter +=1
            meant = np.round(mean(times), 6)
            stdevt = np.round(stdev(times), 6)
            maxt = np.round(max(times), 6)
            mint = np.round(min(times), 6)
            add_dic = {'METRIC': metr_nm, 'LIBRARY': key, 'TIME (avg)': meant, "TIME (stdv)": stdevt, "TIME (max)": maxt, "TIME (min)": mint,   'N': loop}

        except Exception as E:
            print(key, " ERROR:\n", str(E))
            add_dic = {}

        if metr_nm in dictionary:
            dictionary[metr_nm].append(add_dic)
        else: 
            dictionary[metr_nm] = [add_dic]
        try: 
            print(key, '\t', meant, 'usec')     
        except: print('No data')
        
def dict_to_df(dictionary, file_size = None):
    df = pd.DataFrame()
    for k, v in dictionary.items(): 
        df1 = pd.DataFrame(v)
        df = pd.concat([df, df1], axis = 0).reset_index(drop = True)
    if file_size: 
        df.loc[:,'FILE_SZ'] = file_size
    return df

______ 
### ~SMALL FILE

In [3]:
# Number of data points to calculate statictics 
loops = 5
file = 'data/data_small.csv'
savedir = 'data_save'
savefile = f'{savedir}/results.csv'
print("File size: ", np.round(os.stat(file).st_size / (1024 * 1024), 2), "MB")
RESULT_SM = {}

File size:  28.92 MB

In [4]:
cmdsrd = {
        'datatable': 'global dtdf ; dtdf = dt.fread(file)',
        'pandas'   : 'global pdf  ; pdf = pd.read_csv(file, low_memory = False )',
        'polars'   : 'global pldf ; pldf = pl.read_csv(file, infer_schema_length=100000, ignore_errors = True )',
        'modin'    : 'global mdf  ; mdf = md.read_csv(file, low_memory = False)'
        }
metric = 'READ_CSV'
functiontiming(cmdsrd, metric, RESULT_SM, loop = loops)

READ_CSV
datatable 	 3.206498 usec
pandas 	 24.544199 usec
polars 	 16.449508 usec
modin 	 14.201581 usec

In [5]:
import os
import shutil
os.mkdir(savedir)
sv_cmd = {'datatable' :'dtdf.to_csv(savefile)', 
          'pandas' : 'pdf.to_csv(savefile)',
          'polars' : 'pldf.write_csv(savefile)',
          'modin' : 'mdf.to_csv(savefile)'
          }
metric = 'SAVE_CSV'
functiontiming(sv_cmd, metric, RESULT_SM, loop = loops)
shutil.rmtree(savedir)

SAVE_CSV
datatable 	 0.690662 usec
pandas 	 86.401096 usec
polars 	 1.144813 usec

UserWarning: `to_csv` is not currently supported by PandasOnDask, defaulting to pandas implementation.
Please refer to https://modin.readthedocs.io/en/stable/supported_apis/defaulting_to_pandas.html for explanation.
UserWarning: `to_csv` is not currently supported by PandasOnDask, defaulting to pandas implementation.
UserWarning: `to_csv` is not currently supported by PandasOnDask, defaulting to pandas implementation.
UserWarning: `to_csv` is not currently supported by PandasOnDask, defaulting to pandas implementation.
UserWarning: `to_csv` is not currently supported by PandasOnDask, defaulting to pandas implementation.
UserWarning: `to_csv` is not currently supported by PandasOnDask, defaulting to pandas implementation.

modin 	 103.089636 usec

In [6]:
cmdshp = {
        'datatable': 'dtdf.shape',
        'pandas'   : 'pdf.shape',
        'polars'   : 'pldf.shape',
        'modin'    : 'mdf.shape'
        }
metric = 'PRINT DF SHAPE'

functiontiming(cmdshp, metric, RESULT_SM, loop = loops)

PRINT DF SHAPE
datatable 	 0.000597 usec
pandas 	 0.000567 usec
polars 	 0.000558 usec
modin 	 0.00087 usec

In [7]:
cmds_copy = {
        'datatable': 'global dtdf1 ; dtdf1 = dtdf.copy()',
         'pandas'  : 'global pdf1  ; pdf1 = pdf.copy()',
         'polars'  : 'global pldf1 ; pldf1 = pldf.clone()',
         'modin'   : 'global mdf1  ; mdf1 = mdf.copy()'
        }
metric = 'CREATE COPY'
functiontiming(cmds_copy, metric, RESULT_SM, loop = loops)

CREATE COPY
datatable 	 0.000908 usec
pandas 	 0.583984 usec
polars 	 0.000947 usec
modin 	 0.010511 usec

In [8]:
cmds_col1 = {
         'datatable': 'global dtdf1 ; dtdf1.names = {"CRASH_CRN":"CRASH_CRNnew"}',
         'pandas'   : 'global pdf1  ; pdf1 = pdf1.rename(columns = {"CRASH_CRN":"CRASH_CRNnew"})',
         'polars'   : 'global pldf1 ; pldf1 = pldf1.rename({"CRASH_CRN":"CRASH_CRNnew"})',
         'modin'    : 'global mdf1  ; mdf1 = mdf1.rename(columns = {"CRASH_CRN":"CRASH_CRNnew"})'
        }
metric = 'RENAME SINGLE COLUMN'
functiontiming(cmds_col1, metric, RESULT_SM, add_cmd = cmds_copy, loop = loops)

RENAME SINGLE COLUMN
datatable 	 0.001813 usec
pandas 	 0.463468 usec
polars 	 0.003982 usec
modin 	 0.176388 usec

In [9]:
new_columns = [col+'NEW' for col in pdf.columns]
new_colums_dict = {}
for col in pdf.columns:
    new_colums_dict[col] = col+'NEW'

cmds_col_all = {
         'datatable': 'global dtdf  ; dtdf.names = new_columns',
         'pandas'   : 'global pdf   ; pdf.columns = new_columns',
         # For polars to work with no errors I had to create a new dataframe. 
         # Tests without new copy in other platforms worked with no issues
         'polars'   : 'global pldf2 ; pldf2 =  pldf.rename(new_colums_dict)',
         'modin'    : 'global mdf   ; mdf = mdf.rename(columns = new_colums_dict)'
        }
metric = 'RENAME ALL COLUMNS'
functiontiming(cmds_col_all, metric, RESULT_SM, add_cmd = cmds_copy, loop = loops)

RENAME ALL COLUMNS
datatable 	 0.001537 usec
pandas 	 0.00419 usec
polars 	 0.01502 usec
modin 	 0.155695 usec

In [10]:
cmds_sort1 = {
         'datatable': 'dtdf[:,:, dt.sort("MUNICIPALITYNEW", reverse=True)]',
         'pandas'   : 'pdf.sort_values(by = ["MUNICIPALITYNEW"], ascending = [False])',
         'polars'   : 'pldf2.sort("MUNICIPALITYNEW", descending=True)',
         'modin'    : 'mdf.sort_values(by = ["MUNICIPALITYNEW"], ascending = [False])'
        }
metric = 'SORT ONE COLUMN'
functiontiming(cmds_sort1, metric, RESULT_SM, loop = loops)

SORT ONE COLUMN
datatable 	 0.02144 usec
pandas 	 0.762274 usec
polars 	 0.5252 usec
modin 	 3.886198 usec

In [11]:
cmds_sort2 = {
         'datatable': 'dtdf[:,:, dt.sort(["MUNICIPALITYNEW", "CRASH_YEARNEW"], reverse=[True, False])]',
         'pandas'   : 'pdf.sort_values(by = ["MUNICIPALITYNEW", "CRASH_YEARNEW"], ascending = [False, True])',
         'polars'   : 'pldf2.sort("MUNICIPALITYNEW", "CRASH_YEARNEW", descending=[True, False])',
         'modin'    : 'mdf.sort_values(by = ["MUNICIPALITYNEW", "CRASH_YEARNEW"], ascending = [False, True])'
        }
metric = 'SORT TWO COLUMN'
functiontiming(cmds_sort2, metric, RESULT_SM, loop = loops)

SORT TWO COLUMN
datatable 	 0.103197 usec
pandas 	 0.804892 usec
polars 	 0.457875 usec
modin 	 3.602904 usec

In [12]:
from datatable import dt, f, by
grp_by_sum = {
         'datatable': 'dtdf[:, dt.sum(f.CRASH_YEARNEW), by("MUNICIPALITYNEW")]',
         'pandas'   : 'pdf.groupby("MUNICIPALITYNEW")["CRASH_YEARNEW"].sum()',
         'polars'   : 'pldf2.group_by("MUNICIPALITYNEW").agg(pl.sum("CRASH_YEARNEW"))',
         'modin'    : 'mdf.groupby("MUNICIPALITYNEW")["CRASH_YEARNEW"].sum()'
        }
metric = 'GROUP BY SUM'
functiontiming(grp_by_sum, metric, RESULT_SM, loop = loops)

GROUP BY SUM
datatable 	 0.029219 usec
pandas 	 0.114808 usec
polars 	 0.219248 usec
modin 	 5.795595 usec

In [13]:
dict_to_df(RESULT_SM, 'Small')

,METRIC,LIBRARY,TIME (avg),TIME (stdv),TIME (max),TIME (min),N,FILE_SZ
0,READ_CSV,datatable,3.206498,0.377251,3.967468,2.993333,5,Small
1,READ_CSV,pandas,24.544199,1.974113,27.054985,22.666796,5,Small
2,READ_CSV,polars,16.449508,0.691719,17.484085,15.505350,5,Small
3,READ_CSV,modin,14.201581,3.525533,19.953533,10.830339,5,Small
4,SAVE_CSV,datatable,0.690662,0.063643,0.815483,0.643218,5,Small
5,SAVE_CSV,pandas,86.401096,3.023839,90.700869,83.691367,5,Small
6,SAVE_CSV,polars,1.144813,0.166595,1.411132,0.947003,5,Small
7,SAVE_CSV,modin,103.089636,3.643394,106.823238,96.662637,5,Small
8,PRINT DF SHAPE,datatable,0.000597,0.000236,0.001049,0.000433,5,Small
9,PRINT DF SHAPE,pandas,0.000567,0.000150,0.000866,0.000481,5,Small
10,PRINT DF SHAPE,polars,0.000558,0.000179,0.000914,0.000449,5,Small
11,PRINT DF SHAPE,modin,0.000870,0.000263,0.001399,0.000715,5,Small
12,CREATE COPY,datatable,0.000908,0.000293,0.001470,0.000699,5,Small
13,CREATE COPY,pandas,0.583984,0.264372,1.000051,0.409035,5,Small
14,CREATE COPY,polars,0.000947,0.000410,0.001764,0.000715,5,Small
15,CREATE COPY,modin,0.010511,0.003107,0.015068,0.007768,5,Small
16,RENAME SINGLE COLUMN,datatable,0.001813,0.000468,0.002650,0.001419,5,Small
17,RENAME SINGLE COLUMN,pandas,0.463468,0.054622,0.570901,0.423416,5,Small
18,RENAME SINGLE COLUMN,polars,0.003982,0.004054,0.012199,0.001915,5,Small
19,RENAME SINGLE COLUMN,modin,0.176388,0.018732,0.198201,0.147653,5,Small
20,RENAME ALL COLUMNS,datatable,0.001537,0.000550,0.002599,0.001184,5,Small
21,RENAME ALL COLUMNS,pandas,0.004190,0.000496,0.005166,0.003803,5,Small
22,RENAME ALL COLUMNS,polars,0.015020,0.005686,0.022483,0.010582,5,Small
23,RENAME ALL COLUMNS,modin,0.155695,0.006762,0.168550,0.150402,5,Small
24,SORT ONE COLUMN,datatable,0.021440,0.017726,0.057260,0.012449,5,Small
25,SORT ONE COLUMN,pandas,0.762274,0.072295,0.886114,0.707165,5,Small
26,SORT ONE COLUMN,polars,0.525200,0.256875,1.047750,0.397484,5,Small
27,SORT ONE COLUMN,modin,3.886198,0.611385,5.047739,3.468732,5,Small
28,SORT TWO COLUMN,datatable,0.103197,0.006160,0.112136,0.094684,5,Small
29,SORT TWO COLUMN,pandas,0.804892,0.166998,1.131034,0.698614,5,Small
30,SORT TWO COLUMN,polars,0.457875,0.048560,0.539899,0.419501,5,Small
31,SORT TWO COLUMN,modin,3.602904,1.055906,4.863536,1.746484,5,Small
32,GROUP BY SUM,datatable,0.029219,0.013075,0.054312,0.018720,5,Small
33,GROUP BY SUM,pandas,0.114808,0.057199,0.199199,0.069614,5,Small
34,GROUP BY SUM,polars,0.219248,0.016967,0.237350,0.195932,5,Small
35,GROUP BY SUM,modin,5.795595,0.922252,6.633234,3.998498,5,Small

_____

### ~Medium file

In [14]:
### Deleting dataframes used with the Small file data
del dtdf, dtdf1, pdf, pdf1, pldf, pldf1, pldf2, mdf, mdf1

In [15]:
file = 'data/data_medium.csv'
print("File size: ", np.round(os.stat(file).st_size / (1024 * 1024), 2), "MB")
RESULT_MD = {}

File size:  145.88 MB

In [16]:
metric = 'READ_CSV'
functiontiming(cmdsrd, metric, RESULT_MD, loop = loops)
os.mkdir(savedir)
metric = 'SAVE_CSV'
functiontiming(sv_cmd, metric, RESULT_MD, loop = loops)
shutil.rmtree(savedir)
metric = 'PRINT DF SHAPE'
functiontiming(cmdshp, metric, RESULT_MD, loop = loops)
metric = 'CREATE COPY'
functiontiming(cmds_copy, metric, RESULT_MD, loop = loops)
metric = 'RENAME SINGLE COLUMN'
functiontiming(cmds_col1, metric, RESULT_MD, add_cmd = cmds_copy, loop = loops)
metric = 'RENAME ALL COLUMNS'
functiontiming(cmds_col_all, metric, RESULT_MD, add_cmd = cmds_copy, loop = loops)
metric = 'SORT ONE COLUMN'
functiontiming(cmds_sort1, metric, RESULT_MD, loop = loops)
metric = 'SORT TWO COLUMN'
functiontiming(cmds_sort2, metric, RESULT_MD, loop = loops)
metric = 'GROUP BY SUM'
functiontiming(grp_by_sum, metric, RESULT_MD, loop = loops)

READ_CSV
datatable 	 9.125614 usec
pandas 	 147.887991 usec
polars 	 46.443291 usec

UserWarning: `read_*` implementation has mismatches with pandas:
Data types of partitions are different! Please refer to the troubleshooting section of the Modin documentation to fix this issue.

modin 	 76.051768 usec
SAVE_CSV
datatable 	 6.27553 usec
pandas 	 456.076308 usec
polars 	 5.813742 usec

UserWarning: `to_csv` is not currently supported by PandasOnDask, defaulting to pandas implementation.
UserWarning: `to_csv` is not currently supported by PandasOnDask, defaulting to pandas implementation.
UserWarning: `to_csv` is not currently supported by PandasOnDask, defaulting to pandas implementation.
UserWarning: `to_csv` is not currently supported by PandasOnDask, defaulting to pandas implementation.
UserWarning: `to_csv` is not currently supported by PandasOnDask, defaulting to pandas implementation.
UserWarning: `to_csv` is not currently supported by PandasOnDask, defaulting to pandas implementation.

modin 	 505.928391 usec
PRINT DF SHAPE
datatable 	 0.000806 usec
pandas 	 0.000548 usec
polars 	 0.000556 usec
modin 	 0.000828 usec
CREATE COPY
datatable 	 0.001181 usec
pandas 	 5.294061 usec
polars 	 0.001708 usec
modin 	 0.037763 usec
RENAME SINGLE COLUMN
datatable 	 0.002284 usec
pandas 	 4.72643 usec
polars 	 0.021653 usec
modin 	 0.163669 usec
RENAME ALL COLUMNS
datatable 	 0.001352 usec
pandas 	 0.004486 usec
polars 	 0.021141 usec
modin 	 0.152806 usec
SORT ONE COLUMN
datatable 	 0.056798 usec
pandas 	 7.024474 usec
polars 	 4.258192 usec
modin 	 16.040472 usec
SORT TWO COLUMN
datatable 	 0.242537 usec
pandas 	 6.867588 usec
polars 	 3.416333 usec
modin 	 5.824262 usec
GROUP BY SUM
datatable 	 0.089828 usec
pandas 	 0.144403 usec
polars 	 1.106252 usec
modin 	 4.278299 usec

In [17]:
dict_to_df(RESULT_MD, 'Medium')

,METRIC,LIBRARY,TIME (avg),TIME (stdv),TIME (max),TIME (min),N,FILE_SZ
0,READ_CSV,datatable,9.125614,0.560834,9.664683,8.070302,5,Medium
1,READ_CSV,pandas,147.887991,4.902109,155.239336,141.205700,5,Medium
2,READ_CSV,polars,46.443291,5.730982,53.291166,39.271720,5,Medium
3,READ_CSV,modin,76.051768,8.706384,86.905646,66.811085,5,Medium
4,SAVE_CSV,datatable,6.275530,1.691556,8.876216,4.416700,5,Medium
5,SAVE_CSV,pandas,456.076308,20.423131,489.958549,433.448180,5,Medium
6,SAVE_CSV,polars,5.813742,1.190334,7.949964,4.789615,5,Medium
7,SAVE_CSV,modin,505.928391,16.006553,525.321782,476.945833,5,Medium
8,PRINT DF SHAPE,datatable,0.000806,0.000799,0.002432,0.000433,5,Medium
9,PRINT DF SHAPE,pandas,0.000548,0.000141,0.000830,0.000465,5,Medium
10,PRINT DF SHAPE,polars,0.000556,0.000229,0.001017,0.000429,5,Medium
11,PRINT DF SHAPE,modin,0.000828,0.000258,0.001347,0.000679,5,Medium
12,CREATE COPY,datatable,0.001181,0.001051,0.003318,0.000683,5,Medium
13,CREATE COPY,pandas,5.294061,1.412446,6.638567,3.992085,5,Medium
14,CREATE COPY,polars,0.001708,0.000985,0.003568,0.000886,5,Medium
15,CREATE COPY,modin,0.037763,0.051164,0.141184,0.011233,5,Medium
16,RENAME SINGLE COLUMN,datatable,0.002284,0.001398,0.004951,0.001419,5,Medium
17,RENAME SINGLE COLUMN,pandas,4.726430,1.051278,6.808813,4.020631,5,Medium
18,RENAME SINGLE COLUMN,polars,0.021653,0.033636,0.089169,0.002317,5,Medium
19,RENAME SINGLE COLUMN,modin,0.163669,0.008699,0.173581,0.148511,5,Medium
20,RENAME ALL COLUMNS,datatable,0.001352,0.000354,0.002066,0.001152,5,Medium
21,RENAME ALL COLUMNS,pandas,0.004486,0.000895,0.006064,0.003815,5,Medium
22,RENAME ALL COLUMNS,polars,0.021141,0.011101,0.041898,0.011166,5,Medium
23,RENAME ALL COLUMNS,modin,0.152806,0.008633,0.167032,0.143214,5,Medium
24,SORT ONE COLUMN,datatable,0.056798,0.096924,0.254631,0.016403,5,Medium
25,SORT ONE COLUMN,pandas,7.024474,1.107200,9.153752,6.004047,5,Medium
26,SORT ONE COLUMN,polars,4.258192,2.057918,8.371250,3.023231,5,Medium
27,SORT ONE COLUMN,modin,16.040472,19.544205,55.702468,5.171184,5,Medium
28,SORT TWO COLUMN,datatable,0.242537,0.032619,0.279101,0.204066,5,Medium
29,SORT TWO COLUMN,pandas,6.867588,2.934382,12.857000,5.616621,5,Medium
30,SORT TWO COLUMN,polars,3.416333,0.269506,3.907430,3.174718,5,Medium
31,SORT TWO COLUMN,modin,5.824262,3.300709,10.870767,2.180549,5,Medium
32,GROUP BY SUM,datatable,0.089828,0.022917,0.118633,0.063765,5,Medium
33,GROUP BY SUM,pandas,0.144403,0.027815,0.182096,0.114369,5,Medium
34,GROUP BY SUM,polars,1.106252,0.036031,1.153354,1.050568,5,Medium
35,GROUP BY SUM,modin,4.278299,1.271252,6.865418,3.591466,5,Medium

_____

### ~Large file

In [18]:
### Deleting dataframes used with the Medium file data
del dtdf, dtdf1, pdf, pdf1, pldf, pldf1, pldf2, mdf, mdf1

In [19]:
file = 'data/data_large.csv'
print("File size: ", np.round(os.stat(file).st_size / (1024 * 1024), 2), "MB")
RESULT_LG = {}

File size:  291.77 MB

In [20]:
metric = 'READ_CSV'
functiontiming(cmdsrd, metric, RESULT_LG, loop = loops)
os.mkdir(savedir)
metric = 'SAVE_CSV'
functiontiming(sv_cmd, metric, RESULT_LG, loop = loops)
shutil.rmtree(savedir)
metric = 'PRINT DF SHAPE'
functiontiming(cmdshp, metric, RESULT_LG, loop = loops)
metric = 'CREATE COPY'
functiontiming(cmds_copy, metric, RESULT_LG, loop = loops)
metric = 'RENAME SINGLE COLUMN'
functiontiming(cmds_col1, metric, RESULT_LG, add_cmd = cmds_copy, loop = loops)
metric = 'RENAME ALL COLUMNS'
functiontiming(cmds_col_all, metric, RESULT_LG, add_cmd = cmds_copy, loop = loops)
metric = 'SORT ONE COLUMN'
functiontiming(cmds_sort1, metric, RESULT_LG, loop = loops)
metric = 'SORT TWO COLUMN'
functiontiming(cmds_sort2, metric, RESULT_LG, loop = loops)
metric = 'GROUP BY SUM'
functiontiming(grp_by_sum, metric, RESULT_LG, loop = loops)

READ_CSV
datatable 	 12.384971 usec
pandas 	 292.874396 usec
polars 	 44.906053 usec
modin 	 153.603412 usec
SAVE_CSV
datatable 	 8.507856 usec
pandas 	 961.886341 usec
polars 	 12.782583 usec

UserWarning: `to_csv` is not currently supported by PandasOnDask, defaulting to pandas implementation.
UserWarning: `to_csv` is not currently supported by PandasOnDask, defaulting to pandas implementation.
UserWarning: `to_csv` is not currently supported by PandasOnDask, defaulting to pandas implementation.
UserWarning: `to_csv` is not currently supported by PandasOnDask, defaulting to pandas implementation.
UserWarning: `to_csv` is not currently supported by PandasOnDask, defaulting to pandas implementation.
UserWarning: `to_csv` is not currently supported by PandasOnDask, defaulting to pandas implementation.

modin 	 1030.828235 usec
PRINT DF SHAPE
datatable 	 0.000805 usec
pandas 	 0.000552 usec
polars 	 0.000862 usec
modin 	 0.00092 usec
CREATE COPY
datatable 	 0.002017 usec
pandas 	 11.52386 usec
polars 	 0.001509 usec
modin 	 0.010191 usec
RENAME SINGLE COLUMN
datatable 	 0.001636 usec
pandas 	 10.205556 usec
polars 	 0.015551 usec
modin 	 0.157777 usec
RENAME ALL COLUMNS
datatable 	 0.001439 usec
pandas 	 0.004031 usec
polars 	 0.024847 usec
modin 	 0.147485 usec
SORT ONE COLUMN
datatable 	 0.073648 usec
pandas 	 14.039137 usec
polars 	 9.930629 usec
modin 	 9.156253 usec
SORT TWO COLUMN
datatable 	 0.336044 usec
pandas 	 15.05309 usec
polars 	 7.233058 usec
modin 	 6.580487 usec
GROUP BY SUM
datatable 	 0.236048 usec
pandas 	 0.259899 usec
polars 	 1.999429 usec
modin 	 6.199187 usec

In [21]:
dict_to_df(RESULT_LG, 'Large')

,METRIC,LIBRARY,TIME (avg),TIME (stdv),TIME (max),TIME (min),N,FILE_SZ
0,READ_CSV,datatable,12.384971,1.637467,15.681016,11.391679,5,Large
1,READ_CSV,pandas,292.874396,16.917910,320.289719,273.017752,5,Large
2,READ_CSV,polars,44.906053,2.488972,48.166879,41.295950,5,Large
3,READ_CSV,modin,153.603412,18.516538,172.539934,119.750198,5,Large
4,SAVE_CSV,datatable,8.507856,1.226409,10.401714,6.984568,5,Large
5,SAVE_CSV,pandas,961.886341,44.729287,1043.356800,919.983117,5,Large
6,SAVE_CSV,polars,12.782583,4.588795,22.020102,9.902080,5,Large
7,SAVE_CSV,modin,1030.828235,113.001767,1184.593435,891.823379,5,Large
8,PRINT DF SHAPE,datatable,0.000805,0.000745,0.002317,0.000429,5,Large
9,PRINT DF SHAPE,pandas,0.000552,0.000145,0.000830,0.000445,5,Large
10,PRINT DF SHAPE,polars,0.000862,0.000888,0.002670,0.000449,5,Large
11,PRINT DF SHAPE,modin,0.000920,0.000244,0.001399,0.000747,5,Large
12,CREATE COPY,datatable,0.002017,0.002868,0.007864,0.000735,5,Large
13,CREATE COPY,pandas,11.523860,5.106995,21.941229,9.211063,5,Large
14,CREATE COPY,polars,0.001509,0.001592,0.004733,0.000699,5,Large
15,CREATE COPY,modin,0.010191,0.003757,0.016797,0.007665,5,Large
16,RENAME SINGLE COLUMN,datatable,0.001636,0.000508,0.002666,0.001367,5,Large
17,RENAME SINGLE COLUMN,pandas,10.205556,0.060508,10.279564,10.133668,5,Large
18,RENAME SINGLE COLUMN,polars,0.015551,0.017418,0.043996,0.002380,5,Large
19,RENAME SINGLE COLUMN,modin,0.157777,0.020573,0.197033,0.142566,5,Large
20,RENAME ALL COLUMNS,datatable,0.001439,0.000357,0.002035,0.001164,5,Large
21,RENAME ALL COLUMNS,pandas,0.004031,0.000193,0.004335,0.003835,5,Large
22,RENAME ALL COLUMNS,polars,0.024847,0.023545,0.071967,0.011969,5,Large
23,RENAME ALL COLUMNS,modin,0.147485,0.008298,0.161803,0.139431,5,Large
24,SORT ONE COLUMN,datatable,0.073648,0.095602,0.260154,0.020782,5,Large
25,SORT ONE COLUMN,pandas,14.039137,0.207838,14.208849,13.657816,5,Large
26,SORT ONE COLUMN,polars,9.930629,5.671152,21.465572,7.137533,5,Large
27,SORT ONE COLUMN,modin,9.156253,4.365438,16.479834,4.908748,5,Large
28,SORT TWO COLUMN,datatable,0.336044,0.108607,0.538782,0.256066,5,Large
29,SORT TWO COLUMN,pandas,15.053090,3.995086,23.188766,13.105516,5,Large
30,SORT TWO COLUMN,polars,7.233058,0.160996,7.348804,6.971920,5,Large
31,SORT TWO COLUMN,modin,6.580487,3.142463,10.967100,1.738997,5,Large
32,GROUP BY SUM,datatable,0.236048,0.107385,0.389516,0.140166,5,Large
33,GROUP BY SUM,pandas,0.259899,0.062836,0.364868,0.192169,5,Large
34,GROUP BY SUM,polars,1.999429,0.193106,2.361365,1.857952,5,Large
35,GROUP BY SUM,modin,6.199187,3.987695,13.252966,3.629132,5,Large

In [22]:
# Stopping Dask Client
client.close()

____

# Combining the results

In [23]:
results = dict_to_df(RESULT_LG).drop(['N'], axis = 1).merge(dict_to_df(RESULT_MD), on = ['METRIC', 'LIBRARY'], suffixes=['_LG', '_MD']).drop(['N'], axis = 1).merge(dict_to_df(RESULT_SM), on = ['METRIC', 'LIBRARY'])
ordered_columns = ['METRIC', 'LIBRARY', 'TIME (avg)_LG', 'TIME (avg)_MD', 'TIME (avg)',
                    'TIME (stdv)_LG', 'TIME (stdv)_MD', 'TIME (stdv)', 
                    'TIME (max)_LG', 'TIME (max)_MD', 'TIME (max)',
                    'TIME (min)_LG', 'TIME (min)_MD', 'TIME (min)', 'N']
results[ordered_columns]

,METRIC,LIBRARY,TIME (avg)_LG,TIME (avg)_MD,TIME (avg),TIME (stdv)_LG,TIME (stdv)_MD,TIME (stdv),TIME (max)_LG,TIME (max)_MD,TIME (max),TIME (min)_LG,TIME (min)_MD,TIME (min),N
0,READ_CSV,datatable,12.384971,9.125614,3.206498,1.637467,0.560834,0.377251,15.681016,9.664683,3.967468,11.391679,8.070302,2.993333,5
1,READ_CSV,pandas,292.874396,147.887991,24.544199,16.917910,4.902109,1.974113,320.289719,155.239336,27.054985,273.017752,141.205700,22.666796,5
2,READ_CSV,polars,44.906053,46.443291,16.449508,2.488972,5.730982,0.691719,48.166879,53.291166,17.484085,41.295950,39.271720,15.505350,5
3,READ_CSV,modin,153.603412,76.051768,14.201581,18.516538,8.706384,3.525533,172.539934,86.905646,19.953533,119.750198,66.811085,10.830339,5
4,SAVE_CSV,datatable,8.507856,6.275530,0.690662,1.226409,1.691556,0.063643,10.401714,8.876216,0.815483,6.984568,4.416700,0.643218,5
5,SAVE_CSV,pandas,961.886341,456.076308,86.401096,44.729287,20.423131,3.023839,1043.356800,489.958549,90.700869,919.983117,433.448180,83.691367,5
6,SAVE_CSV,polars,12.782583,5.813742,1.144813,4.588795,1.190334,0.166595,22.020102,7.949964,1.411132,9.902080,4.789615,0.947003,5
7,SAVE_CSV,modin,1030.828235,505.928391,103.089636,113.001767,16.006553,3.643394,1184.593435,525.321782,106.823238,891.823379,476.945833,96.662637,5
8,PRINT DF SHAPE,datatable,0.000805,0.000806,0.000597,0.000745,0.000799,0.000236,0.002317,0.002432,0.001049,0.000429,0.000433,0.000433,5
9,PRINT DF SHAPE,pandas,0.000552,0.000548,0.000567,0.000145,0.000141,0.000150,0.000830,0.000830,0.000866,0.000445,0.000465,0.000481,5
10,PRINT DF SHAPE,polars,0.000862,0.000556,0.000558,0.000888,0.000229,0.000179,0.002670,0.001017,0.000914,0.000449,0.000429,0.000449,5
11,PRINT DF SHAPE,modin,0.000920,0.000828,0.000870,0.000244,0.000258,0.000263,0.001399,0.001347,0.001399,0.000747,0.000679,0.000715,5
12,CREATE COPY,datatable,0.002017,0.001181,0.000908,0.002868,0.001051,0.000293,0.007864,0.003318,0.001470,0.000735,0.000683,0.000699,5
13,CREATE COPY,pandas,11.523860,5.294061,0.583984,5.106995,1.412446,0.264372,21.941229,6.638567,1.000051,9.211063,3.992085,0.409035,5
14,CREATE COPY,polars,0.001509,0.001708,0.000947,0.001592,0.000985,0.000410,0.004733,0.003568,0.001764,0.000699,0.000886,0.000715,5
15,CREATE COPY,modin,0.010191,0.037763,0.010511,0.003757,0.051164,0.003107,0.016797,0.141184,0.015068,0.007665,0.011233,0.007768,5
16,RENAME SINGLE COLUMN,datatable,0.001636,0.002284,0.001813,0.000508,0.001398,0.000468,0.002666,0.004951,0.002650,0.001367,0.001419,0.001419,5
17,RENAME SINGLE COLUMN,pandas,10.205556,4.726430,0.463468,0.060508,1.051278,0.054622,10.279564,6.808813,0.570901,10.133668,4.020631,0.423416,5
18,RENAME SINGLE COLUMN,polars,0.015551,0.021653,0.003982,0.017418,0.033636,0.004054,0.043996,0.089169,0.012199,0.002380,0.002317,0.001915,5
19,RENAME SINGLE COLUMN,modin,0.157777,0.163669,0.176388,0.020573,0.008699,0.018732,0.197033,0.173581,0.198201,0.142566,0.148511,0.147653,5
20,RENAME ALL COLUMNS,datatable,0.001439,0.001352,0.001537,0.000357,0.000354,0.000550,0.002035,0.002066,0.002599,0.001164,0.001152,0.001184,5
21,RENAME ALL COLUMNS,pandas,0.004031,0.004486,0.004190,0.000193,0.000895,0.000496,0.004335,0.006064,0.005166,0.003835,0.003815,0.003803,5
22,RENAME ALL COLUMNS,polars,0.024847,0.021141,0.015020,0.023545,0.011101,0.005686,0.071967,0.041898,0.022483,0.011969,0.011166,0.010582,5
23,RENAME ALL COLUMNS,modin,0.147485,0.152806,0.155695,0.008298,0.008633,0.006762,0.161803,0.167032,0.168550,0.139431,0.143214,0.150402,5
24,SORT ONE COLUMN,datatable,0.073648,0.056798,0.021440,0.095602,0.096924,0.017726,0.260154,0.254631,0.057260,0.020782,0.016403,0.012449,5
25,SORT ONE COLUMN,pandas,14.039137,7.024474,0.762274,0.207838,1.107200,0.072295,14.208849,9.153752,0.886114,13.657816,6.004047,0.707165,5
26,SORT ONE COLUMN,polars,9.930629,4.258192,0.525200,5.671152,2.057918,0.256875,21.465572,8.371250,1.047750,7.137533,3.023231,0.397484,5
27,SORT ONE COLUMN,modin,9.156253,16.040472,3.886198,4.365438,19.544205,0.611385,16.479834,55.702468,5.047739,4.908748,5.171184,3.468732,5
28,SORT TWO COLUMN,datatable,0.336044,0.242537,0.103197,0.108607,0.032619,0.006160,0.538782,0.279101,0.112136,0.256066,0.204066,0.094684,5
29,SORT TWO COLUMN,pandas,15.053090,6.867588,0.804892,3.995086,2.934382,0.166998,23.188766,12.857000,1.131034,13.105516,5.616621,0.698614,5
30,SORT TWO COLUMN,polars,7.233058,3.416333,0.457875,0.160996,0.269506,0.048560,7.348804,3.907430,0.539899,6.971920,3.174718,0.419501,5
31,SORT TWO COLUMN,modin,6.580487,5.824262,3.602904,3.142463,3.300709,1.055906,10.967100,10.870767,4.863536,1.738997,2.180549,1.746484,5
32,GROUP BY SUM,datatable,0.236048,0.089828,0.029219,0.107385,0.022917,0.013075,0.389516,0.118633,0.054312,0.140166,0.063765,0.018720,5
33,GROUP BY SUM,pandas,0.259899,0.144403,0.114808,0.062836,0.027815,0.057199,0.364868,0.182096,0.199199,0.192169,0.114369,0.069614,5
34,GROUP BY SUM,polars,1.999429,1.106252,0.219248,0.193106,0.036031,0.016967,2.361365,1.153354,0.237350,1.857952,1.050568,0.195932,5
35,GROUP BY SUM,modin,6.199187,4.278299,5.795595,3.987695,1.271252,0.922252,13.252966,6.865418,6.633234,3.629132,3.591466,3.998498,5