# PANDAS ALTERNATIVES IN PYTHON

- System: 

    Mackbook Pro 15 Inch, 2019 
        
        Processor: 2.3 GHz 8-Core Intel Core i9
        
        Memory: 16 GB 2400 MHz DDR4
        
        macOS:  Sonoma 14.5 Beta (23F5049f)

- Python 3.12.2

______

In [1]:
# Importing libraries 
import polars as pl
import datatable  as dt
import os
os.environ['MODIN_ENGINE'] = 'dask'
os.environ['MODIN_STORAGE_FORMAT'] = 'pandas'
import modin.pandas as md
import modin
print("NUM Partitions available: ", modin.config.NPartitions.get())
import pandas as pd
import time
import numpy as np
from statistics import mean, stdev

# Initializing dask 
# from distributed import Client
# client = Client() 
from dask.distributed import Client
client = Client()

NUM Partitions available:  16

In [2]:
def exec_time(code_str):
    start = time.time()
    exec(code_str, globals(), locals())
    end = time.time()
    return np.round((end-start)/60*1000, 6)

def functiontiming(cmd_d, metr_nm, dictionary, loop = 10, add_cmd = None):
    print(metr_nm)
    for key, cmd in cmd_d.items():
        counter = 0
        times = []
        try: 
            while counter <= loop:
                if add_cmd:
                    new_cmd = add_cmd[key]
                    exec_time(new_cmd)
                time = exec_time(cmd)
                times.append(time)
                counter +=1
            meant = np.round(mean(times), 6)
            stdevt = np.round(stdev(times), 6)
            maxt = np.round(max(times), 6)
            mint = np.round(min(times), 6)
            add_dic = {'METRIC': metr_nm, 'LIBRARY': key, 'TIME (avg)': meant, "TIME (stdv)": stdevt, "TIME (max)": maxt, "TIME (min)": mint,   'N': loop}

        except Exception as E:
            print(key, " ERROR:\n", str(E))
            add_dic = {}

        if metr_nm in dictionary:
            dictionary[metr_nm].append(add_dic)
        else: 
            dictionary[metr_nm] = [add_dic]
        try: 
            print(key, '\t', meant, 'usec')     
        except: print('No data')
        
def dict_to_df(dictionary, file_size = None):
    df = pd.DataFrame()
    for k, v in dictionary.items(): 
        df1 = pd.DataFrame(v)
        df = pd.concat([df, df1], axis = 0).reset_index(drop = True)
    if file_size: 
        df.loc[:,'FILE_SZ'] = file_size
    return df

______ 
### ~SMALL FILE

In [3]:
# Number of data points to calculate statictics 
loops = 5
file = 'data/data_small.csv'
print("File size: ", np.round(os.stat(file).st_size / (1024 * 1024), 2), "MB")
RESULT_SM = {}

File size:  28.92 MB

In [4]:
cmdsrd = {
        'datatable': 'global dtdf ; dtdf = dt.fread(file)',
        'pandas'   : 'global pdf  ; pdf = pd.read_csv(file, low_memory = False )',
        'polars'   : 'global pldf ; pldf = pl.read_csv(file, infer_schema_length=100000, ignore_errors = True )',
        'modin'    : 'global mdf  ; mdf = md.read_csv(file, low_memory = False)'
        }
metric = 'READ_CSV'
functiontiming(cmdsrd, metric, RESULT_SM, loop = loops)

READ_CSV
datatable 	 2.999401 usec
pandas 	 23.456956 usec
polars 	 15.85035 usec
modin 	 13.128951 usec

In [5]:
cmdshp = {
        'datatable': 'dtdf.shape',
        'pandas'   : 'pdf.shape',
        'polars'   : 'pldf.shape',
        'modin'    : 'mdf.shape'
        }
metric = 'PRINT DF SHAPE'

functiontiming(cmdshp, metric, RESULT_SM, loop = loops)

PRINT DF SHAPE
datatable 	 0.000606 usec
pandas 	 0.000577 usec
polars 	 0.00318 usec
modin 	 0.019944 usec

In [6]:
cmds_copy = {
        'datatable': 'global dtdf1 ; dtdf1 = dtdf.copy()',
         'pandas'  : 'global pdf1  ; pdf1 = pdf.copy()',
         'polars'  : 'global pldf1 ; pldf1 = pldf.clone()',
         'modin'   : 'global mdf1  ; mdf1 = mdf.copy()'
        }
metric = 'CREATE COPY'
functiontiming(cmds_copy, metric, RESULT_SM, loop = loops)

CREATE COPY
datatable 	 0.000948 usec
pandas 	 0.629136 usec
polars 	 0.001717 usec
modin 	 0.010603 usec

In [7]:
cmds_col1 = {
         'datatable': 'global dtdf1 ; dtdf1.names = {"CRASH_CRN":"CRASH_CRNnew"}',
         'pandas'   : 'global pdf1  ; pdf1 = pdf1.rename(columns = {"CRASH_CRN":"CRASH_CRNnew"})',
         'polars'   : 'global pldf1 ; pldf1 = pldf1.rename({"CRASH_CRN":"CRASH_CRNnew"})',
         'modin'    : 'global mdf1  ; mdf1 = mdf1.rename(columns = {"CRASH_CRN":"CRASH_CRNnew"})'
        }
metric = 'RENAME SINGLE COLUMN'
functiontiming(cmds_col1, metric, RESULT_SM, add_cmd = cmds_copy, loop = loops)

RENAME SINGLE COLUMN
datatable 	 0.002589 usec
pandas 	 0.415041 usec
polars 	 0.049448 usec
modin 	 0.157378 usec

In [8]:
new_columns = [col+'NEW' for col in pdf.columns]
new_colums_dict = {}
for col in pdf.columns:
    new_colums_dict[col] = col+'NEW'

cmds_col_all = {
         'datatable': 'global dtdf  ; dtdf.names = new_columns',
         'pandas'   : 'global pdf   ; pdf.columns = new_columns',
         # For polars to work with no errors I had to create a new dataframe. 
         # Tests without new copy in other platforms worked with no issues
         'polars'   : 'global pldf2 ; pldf2 =  pldf.rename(new_colums_dict)',
         'modin'    : 'global mdf   ; mdf = mdf.rename(columns = new_colums_dict)'
        }
metric = 'RENAME ALL COLUMNS'
functiontiming(cmds_col_all, metric, RESULT_SM, add_cmd = cmds_copy, loop = loops)

RENAME ALL COLUMNS
datatable 	 0.00138 usec
pandas 	 0.004274 usec
polars 	 0.025143 usec
modin 	 0.155818 usec

In [9]:
cmds_sort1 = {
         'datatable': 'dtdf[:,:, dt.sort("MUNICIPALITYNEW", reverse=True)]',
         'pandas'   : 'pdf.sort_values(by = ["MUNICIPALITYNEW"], ascending = [False])',
         'polars'   : 'pldf2.sort("MUNICIPALITYNEW", descending=True)',
         'modin'    : 'mdf.sort_values(by = ["MUNICIPALITYNEW"], ascending = [False])'
        }
metric = 'SORT ONE COLUMN'
functiontiming(cmds_sort1, metric, RESULT_SM, loop = loops)

SORT ONE COLUMN
datatable 	 0.028539 usec
pandas 	 0.725967 usec
polars 	 0.610219 usec
modin 	 3.514809 usec

In [10]:
cmds_sort2 = {
         'datatable': 'dtdf[:,:, dt.sort(["MUNICIPALITYNEW", "CRASH_YEARNEW"], reverse=[True, False])]',
         'pandas'   : 'pdf.sort_values(by = ["MUNICIPALITYNEW", "CRASH_YEARNEW"], ascending = [False, True])',
         'polars'   : 'pldf2.sort("MUNICIPALITYNEW", "CRASH_YEARNEW", descending=[True, False])',
         'modin'    : 'mdf.sort_values(by = ["MUNICIPALITYNEW", "CRASH_YEARNEW"], ascending = [False, True])'
        }
metric = 'SORT TWO COLUMN'
functiontiming(cmds_sort2, metric, RESULT_SM, loop = loops)

SORT TWO COLUMN
datatable 	 0.112184 usec
pandas 	 0.74603 usec
polars 	 0.44464 usec
modin 	 3.679957 usec

In [11]:
from datatable import dt, f, by
grp_by_sum = {
         'datatable': 'dtdf[:, dt.sum(f.CRASH_YEARNEW), by("MUNICIPALITYNEW")]',
         'pandas'   : 'pdf.groupby("MUNICIPALITYNEW")["CRASH_YEARNEW"].sum()',
         'polars'   : 'pldf2.group_by("MUNICIPALITYNEW").agg(pl.sum("CRASH_YEARNEW"))',
         'modin'    : 'mdf.groupby("MUNICIPALITYNEW")["CRASH_YEARNEW"].sum()'
        }
metric = 'GROUP BY SUM'
functiontiming(grp_by_sum, metric, RESULT_SM, loop = loops)

GROUP BY SUM
datatable 	 0.034508 usec
pandas 	 0.106022 usec
polars 	 0.263594 usec
modin 	 4.008479 usec

In [12]:
dict_to_df(RESULT_SM, 'Small')

,METRIC,LIBRARY,TIME (avg),TIME (stdv),TIME (max),TIME (min),N,FILE_SZ
0,READ_CSV,datatable,2.999401,0.086309,3.084719,2.857117,5,Small
1,READ_CSV,pandas,23.456956,1.480989,25.876153,21.924468,5,Small
2,READ_CSV,polars,15.850350,0.850694,17.186431,15.103102,5,Small
3,READ_CSV,modin,13.128951,3.458157,19.756587,10.498631,5,Small
4,PRINT DF SHAPE,datatable,0.000606,0.000259,0.001121,0.000449,5,Small
5,PRINT DF SHAPE,pandas,0.000577,0.000156,0.000886,0.000465,5,Small
6,PRINT DF SHAPE,polars,0.003180,0.005490,0.014369,0.000568,5,Small
7,PRINT DF SHAPE,modin,0.019944,0.045696,0.113217,0.000882,5,Small
8,CREATE COPY,datatable,0.000948,0.000350,0.001633,0.000719,5,Small
9,CREATE COPY,pandas,0.629136,0.273143,1.040483,0.394718,5,Small
10,CREATE COPY,polars,0.001717,0.000804,0.003302,0.001168,5,Small
11,CREATE COPY,modin,0.010603,0.003643,0.016018,0.007852,5,Small
12,RENAME SINGLE COLUMN,datatable,0.002589,0.002735,0.008166,0.001335,5,Small
13,RENAME SINGLE COLUMN,pandas,0.415041,0.036550,0.484900,0.388499,5,Small
14,RENAME SINGLE COLUMN,polars,0.049448,0.114811,0.283802,0.002102,5,Small
15,RENAME SINGLE COLUMN,modin,0.157378,0.013546,0.184600,0.148912,5,Small
16,RENAME ALL COLUMNS,datatable,0.001380,0.000194,0.001701,0.001200,5,Small
17,RENAME ALL COLUMNS,pandas,0.004274,0.000984,0.006278,0.003767,5,Small
18,RENAME ALL COLUMNS,polars,0.025143,0.016296,0.049702,0.011015,5,Small
19,RENAME ALL COLUMNS,modin,0.155818,0.008726,0.165983,0.142101,5,Small
20,SORT ONE COLUMN,datatable,0.028539,0.039387,0.108914,0.011198,5,Small
21,SORT ONE COLUMN,pandas,0.725967,0.054294,0.835832,0.694915,5,Small
22,SORT ONE COLUMN,polars,0.610219,0.320576,1.257722,0.405745,5,Small
23,SORT ONE COLUMN,modin,3.514809,0.326259,3.810799,3.026787,5,Small
24,SORT TWO COLUMN,datatable,0.112184,0.022867,0.146929,0.091398,5,Small
25,SORT TWO COLUMN,pandas,0.746030,0.132984,1.016732,0.681619,5,Small
26,SORT TWO COLUMN,polars,0.444640,0.036939,0.509755,0.402685,5,Small
27,SORT TWO COLUMN,modin,3.679957,1.176859,5.107315,1.694934,5,Small
28,GROUP BY SUM,datatable,0.034508,0.015719,0.062263,0.023051,5,Small
29,GROUP BY SUM,pandas,0.106022,0.047525,0.184000,0.052714,5,Small
30,GROUP BY SUM,polars,0.263594,0.094307,0.454350,0.208064,5,Small
31,GROUP BY SUM,modin,4.008479,0.686362,5.069602,3.461683,5,Small

_____

### ~Medium file

In [13]:
### Deleting dataframes used with the Small file data
del dtdf, dtdf1, pdf, pdf1, pldf, pldf1, pldf2, mdf, mdf1

In [14]:
file = 'data/data_medium.csv'
print("File size: ", np.round(os.stat(file).st_size / (1024 * 1024), 2), "MB")
RESULT_MD = {}

File size:  145.88 MB

In [15]:
metric = 'READ_CSV'
functiontiming(cmdsrd, metric, RESULT_MD, loop = loops)
metric = 'PRINT DF SHAPE'
functiontiming(cmdshp, metric, RESULT_MD, loop = loops)
metric = 'CREATE COPY'
functiontiming(cmds_copy, metric, RESULT_MD, loop = loops)
metric = 'RENAME SINGLE COLUMN'
functiontiming(cmds_col1, metric, RESULT_MD, add_cmd = cmds_copy, loop = loops)
metric = 'RENAME ALL COLUMNS'
functiontiming(cmds_col_all, metric, RESULT_MD, add_cmd = cmds_copy, loop = loops)
metric = 'SORT ONE COLUMN'
functiontiming(cmds_sort1, metric, RESULT_MD, loop = loops)
metric = 'SORT TWO COLUMN'
functiontiming(cmds_sort2, metric, RESULT_MD, loop = loops)
metric = 'GROUP BY SUM'
functiontiming(grp_by_sum, metric, RESULT_MD, loop = loops)

READ_CSV
datatable 	 7.736621 usec
pandas 	 134.681326 usec
polars 	 38.060794 usec

UserWarning: `read_*` implementation has mismatches with pandas:
Data types of partitions are different! Please refer to the troubleshooting section of the Modin documentation to fix this issue.

modin 	 73.002797 usec
PRINT DF SHAPE
datatable 	 0.000556 usec
pandas 	 0.00053 usec
polars 	 0.000593 usec
modin 	 0.01611 usec
CREATE COPY
datatable 	 0.00105 usec
pandas 	 5.351731 usec
polars 	 0.001016 usec
modin 	 0.014503 usec
RENAME SINGLE COLUMN
datatable 	 0.001739 usec
pandas 	 4.248717 usec
polars 	 0.007706 usec
modin 	 0.16287 usec
RENAME ALL COLUMNS
datatable 	 0.001452 usec
pandas 	 0.003937 usec
polars 	 0.019356 usec
modin 	 0.162017 usec
SORT ONE COLUMN
datatable 	 0.037693 usec
pandas 	 6.726633 usec
polars 	 4.199399 usec
modin 	 11.396361 usec
SORT TWO COLUMN
datatable 	 0.208033 usec
pandas 	 6.722378 usec
polars 	 3.511702 usec
modin 	 7.99845 usec
GROUP BY SUM
datatable 	 0.084347 usec
pandas 	 0.206495 usec
polars 	 1.094869 usec
modin 	 5.104747 usec

In [16]:
dict_to_df(RESULT_MD, 'Medium')

,METRIC,LIBRARY,TIME (avg),TIME (stdv),TIME (max),TIME (min),N,FILE_SZ
0,READ_CSV,datatable,7.736621,0.871917,9.455049,7.175303,5,Medium
1,READ_CSV,pandas,134.681326,5.268545,142.227836,129.004602,5,Medium
2,READ_CSV,polars,38.060794,1.648021,39.663915,35.792367,5,Medium
3,READ_CSV,modin,73.002797,5.967391,83.478645,66.225203,5,Medium
4,PRINT DF SHAPE,datatable,0.000556,0.000154,0.000854,0.000449,5,Medium
5,PRINT DF SHAPE,pandas,0.000530,0.000097,0.000715,0.000453,5,Medium
6,PRINT DF SHAPE,polars,0.000593,0.000268,0.001132,0.000449,5,Medium
7,PRINT DF SHAPE,modin,0.016110,0.037335,0.092320,0.000751,5,Medium
8,CREATE COPY,datatable,0.001050,0.000542,0.002134,0.000699,5,Medium
9,CREATE COPY,pandas,5.351731,2.680512,10.733402,3.991735,5,Medium
10,CREATE COPY,polars,0.001016,0.000539,0.002098,0.000699,5,Medium
11,CREATE COPY,modin,0.014503,0.012577,0.039415,0.007800,5,Medium
12,RENAME SINGLE COLUMN,datatable,0.001739,0.000446,0.002448,0.001403,5,Medium
13,RENAME SINGLE COLUMN,pandas,4.248717,0.382219,5.014118,3.991099,5,Medium
14,RENAME SINGLE COLUMN,polars,0.007706,0.009687,0.026433,0.002050,5,Medium
15,RENAME SINGLE COLUMN,modin,0.162870,0.010775,0.175301,0.149818,5,Medium
16,RENAME ALL COLUMNS,datatable,0.001452,0.000240,0.001848,0.001252,5,Medium
17,RENAME ALL COLUMNS,pandas,0.003937,0.000128,0.004133,0.003795,5,Medium
18,RENAME ALL COLUMNS,polars,0.019356,0.006692,0.029480,0.012696,5,Medium
19,RENAME ALL COLUMNS,modin,0.162017,0.013036,0.187997,0.152552,5,Medium
20,SORT ONE COLUMN,datatable,0.037693,0.032217,0.092383,0.017250,5,Medium
21,SORT ONE COLUMN,pandas,6.726633,0.888625,7.998995,5.926434,5,Medium
22,SORT ONE COLUMN,polars,4.199399,2.869437,10.055566,2.940897,5,Medium
23,SORT ONE COLUMN,modin,11.396361,12.007800,35.508434,4.740834,5,Medium
24,SORT TWO COLUMN,datatable,0.208033,0.016793,0.232033,0.183896,5,Medium
25,SORT TWO COLUMN,pandas,6.722378,1.606159,9.875333,5.673834,5,Medium
26,SORT TWO COLUMN,polars,3.511702,0.533431,4.197848,3.052934,5,Medium
27,SORT TWO COLUMN,modin,7.998450,8.740463,25.337871,1.973565,5,Medium
28,GROUP BY SUM,datatable,0.084347,0.015861,0.108135,0.063781,5,Medium
29,GROUP BY SUM,pandas,0.206495,0.032578,0.247884,0.156585,5,Medium
30,GROUP BY SUM,polars,1.094869,0.170030,1.424114,0.964383,5,Medium
31,GROUP BY SUM,modin,5.104747,3.268898,11.771552,3.591832,5,Medium

_____

### ~Large file

In [17]:
### Deleting dataframes used with the Medium file data
del dtdf, dtdf1, pdf, pdf1, pldf, pldf1, pldf2, mdf, mdf1

In [18]:
file = 'data/data_large.csv'
print("File size: ", np.round(os.stat(file).st_size / (1024 * 1024), 2), "MB")
RESULT_LG = {}

File size:  291.77 MB

In [19]:
metric = 'READ_CSV'
functiontiming(cmdsrd, metric, RESULT_LG, loop = loops)
metric = 'PRINT DF SHAPE'
functiontiming(cmdshp, metric, RESULT_LG, loop = loops)
metric = 'CREATE COPY'
functiontiming(cmds_copy, metric, RESULT_LG, loop = loops)
metric = 'RENAME SINGLE COLUMN'
functiontiming(cmds_col1, metric, RESULT_LG, add_cmd = cmds_copy, loop = loops)
metric = 'RENAME ALL COLUMNS'
functiontiming(cmds_col_all, metric, RESULT_LG, add_cmd = cmds_copy, loop = loops)
metric = 'SORT ONE COLUMN'
functiontiming(cmds_sort1, metric, RESULT_LG, loop = loops)
metric = 'SORT TWO COLUMN'
functiontiming(cmds_sort2, metric, RESULT_LG, loop = loops)
metric = 'GROUP BY SUM'
functiontiming(grp_by_sum, metric, RESULT_LG, loop = loops)

READ_CSV
datatable 	 12.316229 usec
pandas 	 272.608581 usec
polars 	 48.711985 usec
modin 	 134.182981 usec
PRINT DF SHAPE
datatable 	 0.000668 usec
pandas 	 0.000568 usec
polars 	 0.0006 usec
modin 	 0.023139 usec
CREATE COPY
datatable 	 0.001266 usec
pandas 	 12.405551 usec
polars 	 0.001214 usec
modin 	 0.014128 usec
RENAME SINGLE COLUMN
datatable 	 0.001509 usec
pandas 	 10.549104 usec
polars 	 0.006803 usec
modin 	 0.157243 usec
RENAME ALL COLUMNS
datatable 	 0.00144 usec
pandas 	 0.003983 usec
polars 	 0.030426 usec
modin 	 0.15235 usec
SORT ONE COLUMN
datatable 	 0.046908 usec
pandas 	 16.748109 usec
polars 	 8.753106 usec
modin 	 11.705862 usec
SORT TWO COLUMN
datatable 	 0.58302 usec
pandas 	 26.756107 usec
polars 	 8.221137 usec
modin 	 22.586564 usec
GROUP BY SUM
datatable 	 0.196092 usec
pandas 	 0.252665 usec
polars 	 2.957837 usec
modin 	 5.328606 usec

In [20]:
dict_to_df(RESULT_LG, 'Large')

,METRIC,LIBRARY,TIME (avg),TIME (stdv),TIME (max),TIME (min),N,FILE_SZ
0,READ_CSV,datatable,12.316229,1.822771,15.996277,11.306198,5,Large
1,READ_CSV,pandas,272.608581,11.872675,292.867871,258.177467,5,Large
2,READ_CSV,polars,48.711985,6.460554,57.181978,41.055381,5,Large
3,READ_CSV,modin,134.182981,25.326405,165.290066,105.871352,5,Large
4,PRINT DF SHAPE,datatable,0.000668,0.000353,0.001371,0.000465,5,Large
5,PRINT DF SHAPE,pandas,0.000568,0.000118,0.000803,0.000497,5,Large
6,PRINT DF SHAPE,polars,0.000600,0.000248,0.001101,0.000465,5,Large
7,PRINT DF SHAPE,modin,0.023139,0.054354,0.134087,0.000767,5,Large
8,CREATE COPY,datatable,0.001266,0.000967,0.003219,0.000731,5,Large
9,CREATE COPY,pandas,12.405551,4.740009,21.881282,9.631081,5,Large
10,CREATE COPY,polars,0.001214,0.000737,0.002635,0.000715,5,Large
11,CREATE COPY,modin,0.014128,0.008930,0.030887,0.007733,5,Large
12,RENAME SINGLE COLUMN,datatable,0.001509,0.000146,0.001784,0.001383,5,Large
13,RENAME SINGLE COLUMN,pandas,10.549104,0.211177,10.954420,10.382732,5,Large
14,RENAME SINGLE COLUMN,polars,0.006803,0.008909,0.024517,0.001864,5,Large
15,RENAME SINGLE COLUMN,modin,0.157243,0.006342,0.169118,0.151316,5,Large
16,RENAME ALL COLUMNS,datatable,0.001440,0.000440,0.002333,0.001216,5,Large
17,RENAME ALL COLUMNS,pandas,0.003983,0.000097,0.004101,0.003819,5,Large
18,RENAME ALL COLUMNS,polars,0.030426,0.032958,0.094497,0.010733,5,Large
19,RENAME ALL COLUMNS,modin,0.152350,0.003121,0.158004,0.149782,5,Large
20,SORT ONE COLUMN,datatable,0.046908,0.050591,0.150132,0.023901,5,Large
21,SORT ONE COLUMN,pandas,16.748109,2.256024,19.653535,14.458632,5,Large
22,SORT ONE COLUMN,polars,8.753106,3.538696,15.949214,6.928480,5,Large
23,SORT ONE COLUMN,modin,11.705862,11.525789,35.164603,5.667281,5,Large
24,SORT TWO COLUMN,datatable,0.583020,0.429494,1.447133,0.337688,5,Large
25,SORT TWO COLUMN,pandas,26.756107,30.784270,89.492683,13.213368,5,Large
26,SORT TWO COLUMN,polars,8.221137,0.833869,9.280471,7.455933,5,Large
27,SORT TWO COLUMN,modin,22.586564,30.463536,82.881049,2.559753,5,Large
28,GROUP BY SUM,datatable,0.196092,0.066631,0.322715,0.130836,5,Large
29,GROUP BY SUM,pandas,0.252665,0.053391,0.341801,0.194168,5,Large
30,GROUP BY SUM,polars,2.957837,1.260553,5.428616,2.150464,5,Large
31,GROUP BY SUM,modin,5.328606,3.620803,12.683531,3.501221,5,Large

In [21]:
# Stopping Dask Client
client.close()

____

# Combining the results

In [22]:
results = dict_to_df(RESULT_LG).drop(['N'], axis = 1).merge(dict_to_df(RESULT_MD), on = ['METRIC', 'LIBRARY'], suffixes=['_LG', '_MD']).drop(['N'], axis = 1).merge(dict_to_df(RESULT_SM), on = ['METRIC', 'LIBRARY'])
ordered_columns = ['METRIC', 'LIBRARY', 'TIME (avg)_LG', 'TIME (avg)_MD', 'TIME (avg)',
                    'TIME (stdv)_LG', 'TIME (stdv)_MD', 'TIME (stdv)', 
                    'TIME (max)_LG', 'TIME (max)_MD', 'TIME (max)',
                    'TIME (min)_LG', 'TIME (min)_MD', 'TIME (min)', 'N']
results[ordered_columns]

,METRIC,LIBRARY,TIME (avg)_LG,TIME (avg)_MD,TIME (avg),TIME (stdv)_LG,TIME (stdv)_MD,TIME (stdv),TIME (max)_LG,TIME (max)_MD,TIME (max),TIME (min)_LG,TIME (min)_MD,TIME (min),N
0,READ_CSV,datatable,12.316229,7.736621,2.999401,1.822771,0.871917,0.086309,15.996277,9.455049,3.084719,11.306198,7.175303,2.857117,5
1,READ_CSV,pandas,272.608581,134.681326,23.456956,11.872675,5.268545,1.480989,292.867871,142.227836,25.876153,258.177467,129.004602,21.924468,5
2,READ_CSV,polars,48.711985,38.060794,15.850350,6.460554,1.648021,0.850694,57.181978,39.663915,17.186431,41.055381,35.792367,15.103102,5
3,READ_CSV,modin,134.182981,73.002797,13.128951,25.326405,5.967391,3.458157,165.290066,83.478645,19.756587,105.871352,66.225203,10.498631,5
4,PRINT DF SHAPE,datatable,0.000668,0.000556,0.000606,0.000353,0.000154,0.000259,0.001371,0.000854,0.001121,0.000465,0.000449,0.000449,5
5,PRINT DF SHAPE,pandas,0.000568,0.000530,0.000577,0.000118,0.000097,0.000156,0.000803,0.000715,0.000886,0.000497,0.000453,0.000465,5
6,PRINT DF SHAPE,polars,0.000600,0.000593,0.003180,0.000248,0.000268,0.005490,0.001101,0.001132,0.014369,0.000465,0.000449,0.000568,5
7,PRINT DF SHAPE,modin,0.023139,0.016110,0.019944,0.054354,0.037335,0.045696,0.134087,0.092320,0.113217,0.000767,0.000751,0.000882,5
8,CREATE COPY,datatable,0.001266,0.001050,0.000948,0.000967,0.000542,0.000350,0.003219,0.002134,0.001633,0.000731,0.000699,0.000719,5
9,CREATE COPY,pandas,12.405551,5.351731,0.629136,4.740009,2.680512,0.273143,21.881282,10.733402,1.040483,9.631081,3.991735,0.394718,5
10,CREATE COPY,polars,0.001214,0.001016,0.001717,0.000737,0.000539,0.000804,0.002635,0.002098,0.003302,0.000715,0.000699,0.001168,5
11,CREATE COPY,modin,0.014128,0.014503,0.010603,0.008930,0.012577,0.003643,0.030887,0.039415,0.016018,0.007733,0.007800,0.007852,5
12,RENAME SINGLE COLUMN,datatable,0.001509,0.001739,0.002589,0.000146,0.000446,0.002735,0.001784,0.002448,0.008166,0.001383,0.001403,0.001335,5
13,RENAME SINGLE COLUMN,pandas,10.549104,4.248717,0.415041,0.211177,0.382219,0.036550,10.954420,5.014118,0.484900,10.382732,3.991099,0.388499,5
14,RENAME SINGLE COLUMN,polars,0.006803,0.007706,0.049448,0.008909,0.009687,0.114811,0.024517,0.026433,0.283802,0.001864,0.002050,0.002102,5
15,RENAME SINGLE COLUMN,modin,0.157243,0.162870,0.157378,0.006342,0.010775,0.013546,0.169118,0.175301,0.184600,0.151316,0.149818,0.148912,5
16,RENAME ALL COLUMNS,datatable,0.001440,0.001452,0.001380,0.000440,0.000240,0.000194,0.002333,0.001848,0.001701,0.001216,0.001252,0.001200,5
17,RENAME ALL COLUMNS,pandas,0.003983,0.003937,0.004274,0.000097,0.000128,0.000984,0.004101,0.004133,0.006278,0.003819,0.003795,0.003767,5
18,RENAME ALL COLUMNS,polars,0.030426,0.019356,0.025143,0.032958,0.006692,0.016296,0.094497,0.029480,0.049702,0.010733,0.012696,0.011015,5
19,RENAME ALL COLUMNS,modin,0.152350,0.162017,0.155818,0.003121,0.013036,0.008726,0.158004,0.187997,0.165983,0.149782,0.152552,0.142101,5
20,SORT ONE COLUMN,datatable,0.046908,0.037693,0.028539,0.050591,0.032217,0.039387,0.150132,0.092383,0.108914,0.023901,0.017250,0.011198,5
21,SORT ONE COLUMN,pandas,16.748109,6.726633,0.725967,2.256024,0.888625,0.054294,19.653535,7.998995,0.835832,14.458632,5.926434,0.694915,5
22,SORT ONE COLUMN,polars,8.753106,4.199399,0.610219,3.538696,2.869437,0.320576,15.949214,10.055566,1.257722,6.928480,2.940897,0.405745,5
23,SORT ONE COLUMN,modin,11.705862,11.396361,3.514809,11.525789,12.007800,0.326259,35.164603,35.508434,3.810799,5.667281,4.740834,3.026787,5
24,SORT TWO COLUMN,datatable,0.583020,0.208033,0.112184,0.429494,0.016793,0.022867,1.447133,0.232033,0.146929,0.337688,0.183896,0.091398,5
25,SORT TWO COLUMN,pandas,26.756107,6.722378,0.746030,30.784270,1.606159,0.132984,89.492683,9.875333,1.016732,13.213368,5.673834,0.681619,5
26,SORT TWO COLUMN,polars,8.221137,3.511702,0.444640,0.833869,0.533431,0.036939,9.280471,4.197848,0.509755,7.455933,3.052934,0.402685,5
27,SORT TWO COLUMN,modin,22.586564,7.998450,3.679957,30.463536,8.740463,1.176859,82.881049,25.337871,5.107315,2.559753,1.973565,1.694934,5
28,GROUP BY SUM,datatable,0.196092,0.084347,0.034508,0.066631,0.015861,0.015719,0.322715,0.108135,0.062263,0.130836,0.063781,0.023051,5
29,GROUP BY SUM,pandas,0.252665,0.206495,0.106022,0.053391,0.032578,0.047525,0.341801,0.247884,0.184000,0.194168,0.156585,0.052714,5
30,GROUP BY SUM,polars,2.957837,1.094869,0.263594,1.260553,0.170030,0.094307,5.428616,1.424114,0.454350,2.150464,0.964383,0.208064,5
31,GROUP BY SUM,modin,5.328606,5.104747,4.008479,3.620803,3.268898,0.686362,12.683531,11.771552,5.069602,3.501221,3.591832,3.461683,5