# PANDAS ALTERNATIVES IN PYTHON

- System: 

    Mackbook Pro 15 Inch, 2019 
        
        Processor: 2.3 GHz 8-Core Intel Core i9
        
        Memory: 16 GB 2400 MHz DDR4
        
        macOS:  Sonoma 14.5 Beta (23F5049f)

- Python 3.10.9

______

In [1]:
# Importing libraries 
import polars as pl
import datatable  as dt
import os
os.environ['MODIN_ENGINE'] = 'dask'
import modin.pandas as md
import modin
print("NUM Partitions available: ", modin.config.NPartitions.get())
os.environ["MODIN_CPUS"] = "4"
import pandas as pd
import time
import numpy as np
from statistics import mean, stdev
import vaex as vx

NUM Partitions available:  16
NUM Partitions available:  16

In [2]:
def exec_time(code_str):
    start = time.time()
    exec(code_str)
    end = time.time()
    return np.round((end-start)/60*1000, 6)

def functiontiming(cmd_d, metr_nm, dictionary, loop = 10, add_cmd = None):
    print(metr_nm)
    for key, cmd in cmd_d.items():
        counter = 0
        times = []
        try: 
            while counter <= loop:
                if add_cmd:
                    new_cmd = add_cmd[key]
                    exec_time(new_cmd)
                time = exec_time(cmd)
                times.append(time)
                counter +=1
            meant = np.round(mean(times), 6)
            stdevt = np.round(stdev(times), 6)
            maxt = np.round(max(times), 6)
            mint = np.round(min(times), 6)
            add_dic = {'METRIC': metr_nm, 'LIBRARY': key, 'TIME (avg)': meant, "TIME (stdv)": stdevt, "TIME (max)": maxt, "TIME (min)": mint,   'N': loop}

        except Exception as E:
            print(key, " ERROR:\n", str(E))
            add_dic = {}

        if metr_nm in dictionary:
            dictionary[metr_nm].append(add_dic)
        else: 
            dictionary[metr_nm] = [add_dic]
        try: 
            print(key, '\t', meant, 'usec')     
        except: print('No data')
        
def dict_to_df(dictionary, file_size = None):
    df = pd.DataFrame()
    for k, v in dictionary.items(): 
        df1 = pd.DataFrame(v)
        df = pd.concat([df, df1], axis = 0).reset_index(drop = True)
    if file_size: 
        df.loc[:,'FILE_SZ'] = file_size
    return df

______ 
### ~SMALL FILE

In [3]:
# Number of data points to calculate statictics 
loops = 5
file = 'data/data_small.csv'
print("File size: ", np.round(os.stat(file).st_size / (1024 * 1024), 2), "MB")
RESULT_SM = {}

File size:  13.84 MB

In [4]:
cmdsrd = {
        'datatable': 'global dtdf ; dtdf = dt.fread(file)',
        'pandas'   : 'global pdf  ; pdf  = pd.read_csv(file, low_memory = False )',
        'polars'   : 'global pldf ; pldf = pl.read_csv(file, infer_schema_length=100000, ignore_errors = True )',
        'modin'    : 'global mdf  ; mdf  = md.read_csv(file, low_memory = False)',
        'vaex'     : 'global vxdf ; vxdf = vx.open(file)'
        }
metric = 'READ_CSV'
functiontiming(cmdsrd, metric, RESULT_SM, loop = loops)

READ_CSV
datatable 	 2.048697 usec
pandas 	 9.562804 usec
polars 	 7.397899 usec

UserWarning: Dask execution environment not yet initialized. Initializing...
To remove this warning, run the following python code before doing dataframe operations:

    from distributed import Client

    client = Client()

UserWarning:
Dask needs bokeh >= 2.4.2, < 3 for the dashboard.
You have bokeh==3.0.3.
Continuing without the dashboard.
2024-04-28 18:56:12,759 - distributed.diskutils - INFO - Found stale lock file and directory '/var/folders/dg/fckc2gz96c599j8pqfzz6jzr0000gn/T/dask-worker-space/worker-90rrv919', purging
2024-04-28 18:56:12,760 - distributed.diskutils - INFO - Found stale lock file and directory '/var/folders/dg/fckc2gz96c599j8pqfzz6jzr0000gn/T/dask-worker-space/worker-vsv5njnl', purging
2024-04-28 18:56:12,762 - distributed.diskutils - INFO - Found stale lock file and directory '/var/folders/dg/fckc2gz96c599j8pqfzz6jzr0000gn/T/dask-worker-space/worker-5i5nj2fx', purging
2024-04-28 18:56:12,763 - distributed.diskutils - INFO - Found stale lock file and directory '/var/folders/dg/fckc2gz96c599j8pqfzz6jzr0000gn/T/dask-worker-space/worker-24bzes0n', purging
2024-04-28 18:56:12,764 - distributed.diskutils - INFO - Found stale lock file and directory '/var/folders/dg/fckc2gz96c599j8pqfzz6jzr0000gn/T/dask-worker-space/worker-qtns9oww', purging
2024-04-28 18:56:12,765 - distributed.diskutils - INFO - Found stale lock file and directory '/var/folders/dg/fckc2gz96c599j8pqfzz6jzr0000gn/T/dask-worker-space/worker-ikuesnmf', purging
2024-04-28 18:56:12,766 - distributed.diskutils - INFO - Found stale lock file and directory '/var/folders/dg/fckc2gz96c599j8pqfzz6jzr0000gn/T/dask-worker-space/worker-1lbote3y', purging
2024-04-28 18:56:12,767 - distributed.diskutils - INFO - Found stale lock file and directory '/var/folders/dg/fckc2gz96c599j8pqfzz6jzr0000gn/T/dask-worker-space/worker-tsxk1ho8', purging
2024-04-28 18:56:12,769 - distributed.diskutils - INFO - Found stale lock file and directory '/var/folders/dg/fckc2gz96c599j8pqfzz6jzr0000gn/T/dask-worker-space/worker-4i_s00u5', purging
2024-04-28 18:56:12,770 - distributed.diskutils - INFO - Found stale lock file and directory '/var/folders/dg/fckc2gz96c599j8pqfzz6jzr0000gn/T/dask-worker-space/worker-64ceuefx', purging
2024-04-28 18:56:12,772 - distributed.diskutils - INFO - Found stale lock file and directory '/var/folders/dg/fckc2gz96c599j8pqfzz6jzr0000gn/T/dask-worker-space/worker-2qqth42j', purging
2024-04-28 18:56:12,773 - distributed.diskutils - INFO - Found stale lock file and directory '/var/folders/dg/fckc2gz96c599j8pqfzz6jzr0000gn/T/dask-worker-space/worker-maj99vpk', purging
2024-04-28 18:56:12,774 - distributed.diskutils - INFO - Found stale lock file and directory '/var/folders/dg/fckc2gz96c599j8pqfzz6jzr0000gn/T/dask-worker-space/worker-zn3ch_i8', purging
2024-04-28 18:56:12,776 - distributed.diskutils - INFO - Found stale lock file and directory '/var/folders/dg/fckc2gz96c599j8pqfzz6jzr0000gn/T/dask-worker-space/worker-m3w77t8n', purging
2024-04-28 18:56:12,779 - distributed.diskutils - INFO - Found stale lock file and directory '/var/folders/dg/fckc2gz96c599j8pqfzz6jzr0000gn/T/dask-worker-space/worker-guuggm9z', purging
2024-04-28 18:56:12,780 - distributed.diskutils - INFO - Found stale lock file and directory '/var/folders/dg/fckc2gz96c599j8pqfzz6jzr0000gn/T/dask-worker-space/worker-106b2193', purging
UserWarning: `read_*` implementation has mismatches with pandas:
Data types of partitions are different! Please refer to the troubleshooting section of the Modin documentation to fix this issue.

modin 	 26.922177 usec
vaex 	 6.83318 usec

In [5]:
cmdshp = {
        'datatable': 'dtdf.shape',
        'pandas'   : 'pdf.shape',
        'polars'   : 'pldf.shape',
        'modin'    : 'mdf.shape',
        'vaex'     : 'vxdf.shape'
        }
metric = 'PRINT DF SHAPE'

functiontiming(cmdshp, metric, RESULT_SM, loop = loops)

PRINT DF SHAPE
datatable 	 0.000486 usec
pandas 	 0.000427 usec
polars 	 0.00048 usec
modin 	 0.000622 usec
vaex 	 0.001058 usec

In [6]:
cmds_copy = {
         'datatable': 'global dtdf1 ; dtdf1 = dtdf.copy()',
         'pandas'  : 'global pdf1  ; pdf1 = pdf.copy()',
         'polars'  : 'global pldf1 ; pldf1 = pldf.clone()',
         'modin'   : 'global mdf1  ; mdf1 = mdf.copy()',
         'vaex'    : 'global vxdf1 ; vxdf1 = vxdf.copy()'
        }
metric = 'CREATE COPY'
functiontiming(cmds_copy, metric, RESULT_SM, loop = loops)

CREATE COPY
datatable 	 0.00081 usec
pandas 	 0.290458 usec
polars 	 0.000926 usec
modin 	 0.008698 usec
vaex 	 0.058691 usec

In [7]:
cmds_col1 = {
         'datatable': 'global dtdf1 ; dtdf1.names = {"CRASH_CRN":"CRASH_CRNnew"}',
         'pandas'   : 'global pdf1  ; pdf1 = pdf1.rename(columns = {"CRASH_CRN":"CRASH_CRNnew"})',
         'polars'   : 'global pldf1 ; pldf1 = pldf1.rename({"CRASH_CRN":"CRASH_CRNnew"})',
         'modin'    : 'global mdf1  ; mdf1 = mdf1.rename(columns = {"CRASH_CRN":"CRASH_CRNnew"})',
         'vaex'     :  'vxdf1.rename("CRASH_CRN","CRASH_CRNnew")'
        }
metric = 'RENAME SINGLE COLUMN'
functiontiming(cmds_col1, metric, RESULT_SM, add_cmd = cmds_copy, loop = loops)

RENAME SINGLE COLUMN
datatable 	 0.001229 usec
pandas 	 0.20983 usec
polars 	 0.00437 usec
modin 	 0.064741 usec
vaex 	 0.065772 usec

In [8]:
new_columns = [col+'NEW' for col in pdf.columns]
new_colums_dict = {}
for col in pdf.columns:
    new_colums_dict[col] = col+'NEW'

cmds_col_all = {
         'datatable': 'global dtdf  ; dtdf.names = new_columns',
         'pandas'   : 'global pdf   ; pdf.columns = new_columns',
         # For polars to work with no errors I had to create a new dataframe. 
         # Tests without new copy in other platforms worked with no issues
         'polars'   : 'global pldf2 ; pldf2 =  pldf.rename(new_colums_dict)',
         'modin'    : 'global mdf   ; mdf = mdf.rename(columns = new_colums_dict)',
         'vaex'     : 'for cur_nm, new_nm in new_colums_dict.items(): vxdf1.rename(cur_nm, new_nm)'
        }
metric = 'RENAME ALL COLUMNS'
functiontiming(cmds_col_all, metric, RESULT_SM, add_cmd = cmds_copy, loop = loops)

RENAME ALL COLUMNS
datatable 	 0.001191 usec
pandas 	 0.005534 usec
polars 	 0.027041 usec
modin 	 0.058977 usec
vaex 	 5.374467 usec

In [9]:
cmds_sort1 = {
         'datatable': 'dtdf[:,:, dt.sort("MUNICIPALITYNEW", reverse=True)]',
         'pandas'   : 'pdf.sort_values(by = ["MUNICIPALITYNEW"], ascending = [False])',
         'polars'   : 'pldf2.sort("MUNICIPALITYNEW", descending=True)',
         'modin'    : 'mdf.sort_values(by = ["MUNICIPALITYNEW"], ascending = [False])',
         'vaex'     : 'vxdf.sort(["MUNICIPALITY"])'
        }
metric = 'SORT ONE COLUMN'
functiontiming(cmds_sort1, metric, RESULT_SM, loop = loops)

SORT ONE COLUMN
datatable 	 0.017212 usec
pandas 	 0.3518 usec
polars 	 0.372836 usec
modin 	 132.792391 usec
vaex 	 1.920883 usec

In [10]:
cmds_sort2 = {
         'datatable': 'dtdf[:,:, dt.sort(["MUNICIPALITYNEW", "CRASH_YEARNEW"], reverse=[True, False])]',
         'pandas'   : 'pdf.sort_values(by = ["MUNICIPALITYNEW", "CRASH_YEARNEW"], ascending = [False, True])',
         'polars'   : 'pldf2.sort("MUNICIPALITYNEW", "CRASH_YEARNEW", descending=[True, False])',
         'modin'    : 'mdf.sort_values(by = ["MUNICIPALITYNEW", "CRASH_YEARNEW"], ascending = [False, True])',
         'vaex'     : 'vxdf.sort(["MUNICIPALITY", "CRASH_YEAR"], ascending = [False, True])'
        }
metric = 'SORT TWO COLUMN'
functiontiming(cmds_sort2, metric, RESULT_SM, loop = loops)

SORT TWO COLUMN
datatable 	 0.075463 usec
pandas 	 0.556926 usec
polars 	 0.284105 usec

2024-04-28 18:57:37,630 - distributed.worker - WARNING - Could not find data: {'function-dc404b9340dd4f1da352f944a9104a45': ['tcp://127.0.0.1:51590', 'tcp://127.0.0.1:51583', 'tcp://127.0.0.1:51573']} on workers: [] (who_has: {'function-dc404b9340dd4f1da352f944a9104a45': ['tcp://127.0.0.1:51590', 'tcp://127.0.0.1:51583', 'tcp://127.0.0.1:51573']})
2024-04-28 18:57:37,631 - distributed.scheduler - WARNING - Worker tcp://127.0.0.1:51614 failed to acquire keys: {'function-dc404b9340dd4f1da352f944a9104a45': ('tcp://127.0.0.1:51590', 'tcp://127.0.0.1:51583', 'tcp://127.0.0.1:51573')}

modin 	 134.910463 usec
vaex 	 3.833902 usec

In [19]:
from datatable import dt, f, by
grp_by_sum = {
         'datatable': 'dtdf[:, dt.sum(f.CRASH_YEARNEW), by("MUNICIPALITYNEW")]',
         'pandas'   : 'pdf.groupby("MUNICIPALITYNEW")["CRASH_YEARNEW"].sum()',
         'polars'   : 'pldf2.group_by("MUNICIPALITYNEW").agg(pl.sum("CRASH_YEARNEW"))',
         'modin'    : 'mdf.groupby("MUNICIPALITYNEW")["CRASH_YEARNEW"].sum()',
         'vaex'     : "vxdf.groupby(by='MUNICIPALITY').agg({'CRASH_YEAR': 'sum'})"

        }
metric = 'GROUP BY SUM'
functiontiming(grp_by_sum, metric, RESULT_SM, loop = loops)

GROUP BY SUM
datatable 	 0.023239 usec
pandas 	 0.031094 usec
polars 	 0.19369 usec
modin 	 13.064914 usec
vaex 	 11.953482 usec

In [20]:
dict_to_df(RESULT_SM, 'Small')

,METRIC,LIBRARY,TIME (avg),TIME (stdv),TIME (max),TIME (min),N,FILE_SZ
0,READ_CSV,datatable,2.048697,0.082008,2.198601,1.957333,5,Small
1,READ_CSV,pandas,9.562804,0.797654,10.446338,8.278171,5,Small
2,READ_CSV,polars,7.397899,0.520330,8.097732,6.930431,5,Small
3,READ_CSV,modin,26.922177,38.016839,104.510701,10.309048,5,Small
4,READ_CSV,vaex,6.833180,5.626612,18.301062,4.035985,5,Small
5,PRINT DF SHAPE,datatable,0.000486,0.000204,0.000866,0.000318,5,Small
6,PRINT DF SHAPE,pandas,0.000427,0.000151,0.000731,0.000350,5,Small
7,PRINT DF SHAPE,polars,0.000480,0.000316,0.001121,0.000318,5,Small
8,PRINT DF SHAPE,modin,0.000622,0.000278,0.001180,0.000465,5,Small
9,PRINT DF SHAPE,vaex,0.001058,0.000218,0.001498,0.000934,5,Small
10,CREATE COPY,datatable,0.000810,0.000465,0.001733,0.000532,5,Small
11,CREATE COPY,pandas,0.290458,0.141694,0.489032,0.193886,5,Small
12,CREATE COPY,polars,0.000926,0.000768,0.002484,0.000548,5,Small
13,CREATE COPY,modin,0.008698,0.002341,0.013196,0.007161,5,Small
14,CREATE COPY,vaex,0.058691,0.005164,0.068748,0.054530,5,Small
15,RENAME SINGLE COLUMN,datatable,0.001229,0.000246,0.001717,0.001085,5,Small
16,RENAME SINGLE COLUMN,pandas,0.209830,0.004486,0.215133,0.203514,5,Small
17,RENAME SINGLE COLUMN,polars,0.004370,0.006126,0.016868,0.001701,5,Small
18,RENAME SINGLE COLUMN,modin,0.064741,0.017841,0.101070,0.055937,5,Small
19,RENAME SINGLE COLUMN,vaex,0.065772,0.002393,0.068986,0.062382,5,Small
20,RENAME ALL COLUMNS,datatable,0.001191,0.000311,0.001816,0.001017,5,Small
21,RENAME ALL COLUMNS,pandas,0.005534,0.000168,0.005849,0.005368,5,Small
22,RENAME ALL COLUMNS,polars,0.027041,0.021276,0.064166,0.012589,5,Small
23,RENAME ALL COLUMNS,modin,0.058977,0.001494,0.061003,0.056998,5,Small
24,RENAME ALL COLUMNS,vaex,5.374467,0.485903,6.053567,4.715482,5,Small
25,SORT ONE COLUMN,datatable,0.017212,0.008576,0.030915,0.010598,5,Small
26,SORT ONE COLUMN,pandas,0.351800,0.038933,0.425251,0.319449,5,Small
27,SORT ONE COLUMN,polars,0.372836,0.265146,0.905017,0.217064,5,Small
28,SORT ONE COLUMN,modin,132.792391,6.735941,142.777101,125.423880,5,Small
29,SORT ONE COLUMN,vaex,1.920883,0.404796,2.311083,1.399163,5,Small
30,SORT TWO COLUMN,datatable,0.075463,0.034958,0.145916,0.052083,5,Small
31,SORT TWO COLUMN,pandas,0.556926,0.311434,1.187436,0.379602,5,Small
32,SORT TWO COLUMN,polars,0.284105,0.047907,0.344964,0.227813,5,Small
33,SORT TWO COLUMN,modin,134.910463,11.426737,148.080301,119.341262,5,Small
34,SORT TWO COLUMN,vaex,3.833902,0.324276,4.227797,3.270253,5,Small
35,GROUP BY SUM,datatable,0.023239,0.020305,0.064115,0.011981,5,Small
36,GROUP BY SUM,pandas,0.031094,0.020924,0.069030,0.015950,5,Small
37,GROUP BY SUM,polars,0.193690,0.128624,0.454013,0.113730,5,Small
38,GROUP BY SUM,modin,13.064914,0.558689,13.917518,12.525284,5,Small
39,GROUP BY SUM,vaex,11.953482,0.964787,13.786614,11.125783,5,Small

_____

### ~Medium file

In [21]:
### Deleting dataframes used with the Small file data
del dtdf, dtdf1, pdf, pdf1, pldf, pldf1, pldf2, mdf, mdf1, vxdf, vxdf1

In [22]:
file = 'data/data_medium.csv'
print("File size: ", np.round(os.stat(file).st_size / (1024 * 1024), 2), "MB")
RESULT_MD = {}

File size:  140.68 MB

In [23]:
metric = 'READ_CSV'
functiontiming(cmdsrd, metric, RESULT_MD, loop = loops)
metric = 'PRINT DF SHAPE'
functiontiming(cmdshp, metric, RESULT_MD, loop = loops)
metric = 'CREATE COPY'
functiontiming(cmds_copy, metric, RESULT_MD, loop = loops)
metric = 'RENAME SINGLE COLUMN'
functiontiming(cmds_col1, metric, RESULT_MD, add_cmd = cmds_copy, loop = loops)
metric = 'RENAME ALL COLUMNS'
functiontiming(cmds_col_all, metric, RESULT_MD, add_cmd = cmds_copy, loop = loops)
metric = 'SORT ONE COLUMN'
functiontiming(cmds_sort1, metric, RESULT_MD, loop = loops)
metric = 'SORT TWO COLUMN'
functiontiming(cmds_sort2, metric, RESULT_MD, loop = loops)
metric = 'GROUP BY SUM'
functiontiming(grp_by_sum, metric, RESULT_MD, loop = loops)

READ_CSV
datatable 	 7.996454 usec
pandas 	 130.581264 usec
polars 	 35.696691 usec
modin 	 34.626186 usec
vaex 	 4.419714 usec
PRINT DF SHAPE
datatable 	 0.000421 usec
pandas 	 0.000416 usec
polars 	 0.000405 usec
modin 	 0.000572 usec
vaex 	 0.001114 usec
CREATE COPY
datatable 	 0.000722 usec
pandas 	 5.911 usec
polars 	 0.0008 usec
modin 	 0.00789 usec
vaex 	 0.079807 usec
RENAME SINGLE COLUMN
datatable 	 0.001511 usec
pandas 	 4.395672 usec
polars 	 0.002392 usec
modin 	 0.062919 usec
vaex 	 0.087836 usec
RENAME ALL COLUMNS
datatable 	 0.001142 usec
pandas 	 0.005552 usec
polars 	 0.015736 usec
modin 	 0.061135 usec
vaex 	 4.82273 usec
SORT ONE COLUMN
datatable 	 0.024921 usec
pandas 	 5.948919 usec
polars 	 4.067038 usec

2024-04-28 19:07:05,338 - distributed.worker.memory - WARNING - Worker is at 81% memory usage. Pausing worker.  Process memory: 835.30 MiB -- Worker memory limit: 1.00 GiB
2024-04-28 19:07:05,494 - distributed.worker.memory - WARNING - Worker is at 74% memory usage. Resuming worker. Process memory: 761.74 MiB -- Worker memory limit: 1.00 GiB

modin 	 140.495656 usec
vaex 	 15.106791 usec
SORT TWO COLUMN
datatable 	 0.190091 usec
pandas 	 6.568081 usec
polars 	 3.077682 usec

2024-04-28 19:07:33,630 - distributed.worker - WARNING - Could not find data: {'function-93d68fc1e03e4d6f8fdfa77271ac69b8': ['tcp://127.0.0.1:51590', 'tcp://127.0.0.1:51572', 'tcp://127.0.0.1:51583']} on workers: [] (who_has: {'function-93d68fc1e03e4d6f8fdfa77271ac69b8': ['tcp://127.0.0.1:51590', 'tcp://127.0.0.1:51572', 'tcp://127.0.0.1:51583']})
2024-04-28 19:07:33,633 - distributed.scheduler - WARNING - Worker tcp://127.0.0.1:51584 failed to acquire keys: {'function-93d68fc1e03e4d6f8fdfa77271ac69b8': ('tcp://127.0.0.1:51590', 'tcp://127.0.0.1:51572', 'tcp://127.0.0.1:51583')}

modin 	 159.478923 usec
vaex 	 42.926262 usec
GROUP BY SUM
datatable 	 0.106646 usec
pandas 	 0.121413 usec
polars 	 0.989457 usec
modin 	 16.079056 usec
vaex 	 35.849466 usec

In [24]:
dict_to_df(RESULT_MD, 'Medium')

,METRIC,LIBRARY,TIME (avg),TIME (stdv),TIME (max),TIME (min),N,FILE_SZ
0,READ_CSV,datatable,7.996454,1.164161,9.432566,6.934714,5,Medium
1,READ_CSV,pandas,130.581264,3.909886,136.345418,124.531937,5,Medium
2,READ_CSV,polars,35.696691,1.768031,38.459468,34.373788,5,Medium
3,READ_CSV,modin,34.626186,3.137712,39.517220,31.705717,5,Medium
4,READ_CSV,vaex,4.419714,0.506521,5.371082,4.061266,5,Medium
5,PRINT DF SHAPE,datatable,0.000421,0.000144,0.000699,0.000314,5,Medium
6,PRINT DF SHAPE,pandas,0.000416,0.000117,0.000652,0.000350,5,Medium
7,PRINT DF SHAPE,polars,0.000405,0.000145,0.000699,0.000334,5,Medium
8,PRINT DF SHAPE,modin,0.000572,0.000165,0.000902,0.000481,5,Medium
9,PRINT DF SHAPE,vaex,0.001114,0.000213,0.001534,0.000981,5,Medium
10,CREATE COPY,datatable,0.000722,0.000333,0.001383,0.000517,5,Medium
11,CREATE COPY,pandas,5.911000,2.868810,11.547001,4.038600,5,Medium
12,CREATE COPY,polars,0.000800,0.000413,0.001617,0.000548,5,Medium
13,CREATE COPY,modin,0.007890,0.001035,0.009318,0.007065,5,Medium
14,CREATE COPY,vaex,0.079807,0.026026,0.129263,0.058798,5,Medium
15,RENAME SINGLE COLUMN,datatable,0.001511,0.000433,0.002066,0.001144,5,Medium
16,RENAME SINGLE COLUMN,pandas,4.395672,0.142319,4.514535,4.122500,5,Medium
17,RENAME SINGLE COLUMN,polars,0.002392,0.001375,0.005170,0.001633,5,Medium
18,RENAME SINGLE COLUMN,modin,0.062919,0.004510,0.070568,0.058786,5,Medium
19,RENAME SINGLE COLUMN,vaex,0.087836,0.017629,0.122432,0.074983,5,Medium
20,RENAME ALL COLUMNS,datatable,0.001142,0.000155,0.001434,0.001013,5,Medium
21,RENAME ALL COLUMNS,pandas,0.005552,0.000264,0.006048,0.005301,5,Medium
22,RENAME ALL COLUMNS,polars,0.015736,0.005200,0.023047,0.011583,5,Medium
23,RENAME ALL COLUMNS,modin,0.061135,0.002202,0.064882,0.059068,5,Medium
24,RENAME ALL COLUMNS,vaex,4.822730,0.403656,5.588587,4.480314,5,Medium
25,SORT ONE COLUMN,datatable,0.024921,0.014712,0.054665,0.017583,5,Medium
26,SORT ONE COLUMN,pandas,5.948919,0.160866,6.115452,5.758115,5,Medium
27,SORT ONE COLUMN,polars,4.067038,2.724575,9.626333,2.874287,5,Medium
28,SORT ONE COLUMN,modin,140.495656,17.006783,164.015869,124.814800,5,Medium
29,SORT ONE COLUMN,vaex,15.106791,1.750152,18.555884,13.535066,5,Medium
30,SORT TWO COLUMN,datatable,0.190091,0.030053,0.244617,0.163535,5,Medium
31,SORT TWO COLUMN,pandas,6.568081,0.638316,7.425034,6.037517,5,Medium
32,SORT TWO COLUMN,polars,3.077682,0.153790,3.296316,2.947497,5,Medium
33,SORT TWO COLUMN,modin,159.478923,30.116204,219.085586,136.307883,5,Medium
34,SORT TWO COLUMN,vaex,42.926262,3.183434,48.687538,40.217582,5,Medium
35,GROUP BY SUM,datatable,0.106646,0.051431,0.207301,0.073882,5,Medium
36,GROUP BY SUM,pandas,0.121413,0.035278,0.174236,0.091684,5,Medium
37,GROUP BY SUM,polars,0.989457,0.111444,1.126905,0.847785,5,Medium
38,GROUP BY SUM,modin,16.079056,1.057333,17.528220,14.984099,5,Medium
39,GROUP BY SUM,vaex,35.849466,1.862715,38.961085,33.706844,5,Medium

_____

### ~Large file

In [25]:
### Deleting dataframes used with the Medium file data
del dtdf, dtdf1, pdf, pdf1, pldf, pldf1, pldf2, mdf, mdf1, vxdf, vxdf1

In [26]:
file = 'data/data_large.csv'
print("File size: ", np.round(os.stat(file).st_size / (1024 * 1024), 2), "MB")
RESULT_LG = {}

File size:  281.36 MB

In [27]:
metric = 'READ_CSV'
functiontiming(cmdsrd, metric, RESULT_LG, loop = loops)
metric = 'PRINT DF SHAPE'
functiontiming(cmdshp, metric, RESULT_LG, loop = loops)
metric = 'CREATE COPY'
functiontiming(cmds_copy, metric, RESULT_LG, loop = loops)
metric = 'RENAME SINGLE COLUMN'
functiontiming(cmds_col1, metric, RESULT_LG, add_cmd = cmds_copy, loop = loops)
metric = 'RENAME ALL COLUMNS'
functiontiming(cmds_col_all, metric, RESULT_LG, add_cmd = cmds_copy, loop = loops)
metric = 'SORT ONE COLUMN'
functiontiming(cmds_sort1, metric, RESULT_LG, loop = loops)
metric = 'SORT TWO COLUMN'
functiontiming(cmds_sort2, metric, RESULT_LG, loop = loops)
metric = 'GROUP BY SUM'
functiontiming(grp_by_sum, metric, RESULT_LG, loop = loops)

READ_CSV
datatable 	 12.275466 usec
pandas 	 265.443018 usec
polars 	 42.216853 usec
modin 	 77.288881 usec
vaex 	 7.128306 usec
PRINT DF SHAPE
datatable 	 0.000461 usec
pandas 	 0.000485 usec
polars 	 0.000786 usec
modin 	 0.000911 usec
vaex 	 0.001284 usec
CREATE COPY
datatable 	 0.001208 usec
pandas 	 11.766 usec
polars 	 0.000912 usec
modin 	 0.0081 usec
vaex 	 0.061523 usec
RENAME SINGLE COLUMN
datatable 	 0.001364 usec
pandas 	 10.337778 usec
polars 	 0.011423 usec
modin 	 0.067888 usec
vaex 	 0.069774 usec
RENAME ALL COLUMNS
datatable 	 0.001341 usec
pandas 	 0.005558 usec
polars 	 0.026735 usec
modin 	 0.059544 usec
vaex 	 4.633701 usec
SORT ONE COLUMN
datatable 	 0.0471 usec
pandas 	 15.07819 usec
polars 	 10.493359 usec

2024-04-28 19:12:01,487 - distributed.worker.memory - WARNING - Worker is at 86% memory usage. Pausing worker.  Process memory: 886.09 MiB -- Worker memory limit: 1.00 GiB
2024-04-28 19:12:02,002 - distributed.nanny.memory - WARNING - Worker tcp://127.0.0.1:51583 (pid=8043) exceeded 95% memory budget. Restarting...
2024-04-28 19:12:02,691 - distributed.nanny - WARNING - Restarting worker
2024-04-28 19:12:06,326 - distributed.worker.memory - WARNING - Worker is at 85% memory usage. Pausing worker.  Process memory: 871.48 MiB -- Worker memory limit: 1.00 GiB
2024-04-28 19:12:06,474 - distributed.nanny.memory - WARNING - Worker tcp://127.0.0.1:51573 (pid=8039) exceeded 95% memory budget. Restarting...
2024-04-28 19:12:06,547 - distributed.worker - ERROR - Worker stream died during communication: tcp://127.0.0.1:51573
Traceback (most recent call last):
  File "/Users/jorgepinzon/opt/anaconda3/envs/py310/lib/python3.10/site-packages/tornado/iostream.py", line 869, in _read_to_buffer
    bytes_read = self.read_from_fd(buf)
  File "/Users/jorgepinzon/opt/anaconda3/envs/py310/lib/python3.10/site-packages/tornado/iostream.py", line 1138, in read_from_fd
    return self.socket.recv_into(buf, len(buf))
ConnectionResetError: [Errno 54] Connection reset by peer

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/Users/jorgepinzon/opt/anaconda3/envs/py310/lib/python3.10/site-packages/distributed/worker.py", line 2058, in gather_dep
    response = await get_data_from_worker(
  File "/Users/jorgepinzon/opt/anaconda3/envs/py310/lib/python3.10/site-packages/distributed/worker.py", line 2872, in get_data_from_worker
    return await retry_operation(_get_data, operation="get_data_from_worker")
  File "/Users/jorgepinzon/opt/anaconda3/envs/py310/lib/python3.10/site-packages/distributed/utils_comm.py", line 419, in retry_operation
    return await retry(
  File "/Users/jorgepinzon/opt/anaconda3/envs/py310/lib/python3.10/site-packages/distributed/utils_comm.py", line 404, in retry
    return await coro()
  File "/Users/jorgepinzon/opt/anaconda3/envs/py310/lib/python3.10/site-packages/distributed/worker.py", line 2852, in _get_data
    response = await send_recv(
  File "/Users/jorgepinzon/opt/anaconda3/envs/py310/lib/python3.10/site-packages/distributed/core.py", line 986, in send_recv
    response = await comm.read(deserializers=deserializers)
  File "/Users/jorgepinzon/opt/anaconda3/envs/py310/lib/python3.10/site-packages/distributed/comm/tcp.py", line 241, in read
    convert_stream_closed_error(self, e)
  File "/Users/jorgepinzon/opt/anaconda3/envs/py310/lib/python3.10/site-packages/distributed/comm/tcp.py", line 142, in convert_stream_closed_error
    raise CommClosedError(f"in {obj}: {exc.__class__.__name__}: {exc}") from exc
distributed.comm.core.CommClosedError: in <TCP (closed) Ephemeral Worker->Worker for gather local=tcp://127.0.0.1:51736 remote=tcp://127.0.0.1:51573>: ConnectionResetError: [Errno 54] Connection reset by peer
2024-04-28 19:12:06,582 - distributed.nanny - WARNING - Restarting worker
2024-04-28 19:12:09,602 - distributed.worker.memory - WARNING - Worker is at 87% memory usage. Pausing worker.  Process memory: 895.20 MiB -- Worker memory limit: 1.00 GiB
2024-04-28 19:12:09,832 - distributed.worker.memory - WARNING - Worker is at 74% memory usage. Resuming worker. Process memory: 760.52 MiB -- Worker memory limit: 1.00 GiB
2024-04-28 19:12:09,965 - distributed.worker.memory - WARNING - Worker is at 88% memory usage. Pausing worker.  Process memory: 903.05 MiB -- Worker memory limit: 1.00 GiB
2024-04-28 19:12:10,077 - distributed.nanny.memory - WARNING - Worker tcp://127.0.0.1:51614 (pid=8054) exceeded 95% memory budget. Restarting...
2024-04-28 19:12:10,258 - distributed.nanny - WARNING - Restarting worker
2024-04-28 19:12:15,221 - distributed.worker.memory - WARNING - Worker is at 88% memory usage. Pausing worker.  Process memory: 906.89 MiB -- Worker memory limit: 1.00 GiB
2024-04-28 19:12:15,310 - distributed.nanny.memory - WARNING - Worker tcp://127.0.0.1:51587 (pid=8045) exceeded 95% memory budget. Restarting...
2024-04-28 19:12:15,490 - distributed.nanny - WARNING - Restarting worker

modin  ERROR:
 Attempted to run task deploy_dask_func-7557be68-bb54-4520-8eff-82b135908ba9 on 3 different workers, but all those workers died while running it. The last worker that attempt to run the task was tcp://127.0.0.1:51587. Inspecting worker logs is often a good next step to diagnose what went wrong. For more information see https://distributed.dask.org/en/stable/killed.html.
modin 	 10.493359 usec
vaex 	 32.547749 usec
SORT TWO COLUMN
datatable 	 0.308714 usec
pandas 	 17.690414 usec
polars 	 11.158356 usec

2024-04-28 19:12:47,446 - distributed.worker.memory - WARNING - Worker is at 86% memory usage. Pausing worker.  Process memory: 883.85 MiB -- Worker memory limit: 1.00 GiB
2024-04-28 19:12:47,619 - distributed.nanny.memory - WARNING - Worker tcp://127.0.0.1:52862 (pid=13990) exceeded 95% memory budget. Restarting...
2024-04-28 19:12:48,148 - distributed.nanny - WARNING - Restarting worker
2024-04-28 19:12:51,632 - distributed.worker.memory - WARNING - Worker is at 86% memory usage. Pausing worker.  Process memory: 886.21 MiB -- Worker memory limit: 1.00 GiB
2024-04-28 19:12:51,866 - distributed.nanny.memory - WARNING - Worker tcp://127.0.0.1:51608 (pid=8052) exceeded 95% memory budget. Restarting...
2024-04-28 19:12:52,022 - distributed.nanny - WARNING - Restarting worker
2024-04-28 19:12:58,759 - distributed.worker.memory - WARNING - Worker is at 86% memory usage. Pausing worker.  Process memory: 887.95 MiB -- Worker memory limit: 1.00 GiB
2024-04-28 19:12:58,877 - distributed.nanny.memory - WARNING - Worker tcp://127.0.0.1:51613 (pid=8053) exceeded 95% memory budget. Restarting...
2024-04-28 19:12:59,068 - distributed.nanny - WARNING - Restarting worker
2024-04-28 19:13:05,323 - distributed.worker.memory - WARNING - Worker is at 88% memory usage. Pausing worker.  Process memory: 908.15 MiB -- Worker memory limit: 1.00 GiB
2024-04-28 19:13:05,397 - distributed.nanny.memory - WARNING - Worker tcp://127.0.0.1:51584 (pid=8044) exceeded 95% memory budget. Restarting...
2024-04-28 19:13:05,622 - distributed.nanny - WARNING - Restarting worker

modin  ERROR:
 Attempted to run task deploy_dask_func-8d4b7154-ac34-44b1-9132-fa7fcd505b2d on 3 different workers, but all those workers died while running it. The last worker that attempt to run the task was tcp://127.0.0.1:51584. Inspecting worker logs is often a good next step to diagnose what went wrong. For more information see https://distributed.dask.org/en/stable/killed.html.
modin 	 11.158356 usec
vaex 	 75.452062 usec
GROUP BY SUM
datatable 	 0.155615 usec
pandas 	 0.209529 usec
polars 	 2.223554 usec
modin 	 13.317662 usec
vaex 	 68.644051 usec

In [28]:
dict_to_df(RESULT_LG, 'Large')

,METRIC,LIBRARY,TIME (avg),TIME (stdv),TIME (max),TIME (min),N,FILE_SZ
0,READ_CSV,datatable,12.275466,1.608227,15.054599,10.906065,5.0,Large
1,READ_CSV,pandas,265.443018,8.637416,281.663982,257.771667,5.0,Large
2,READ_CSV,polars,42.216853,3.420519,47.927630,39.443453,5.0,Large
3,READ_CSV,modin,77.288881,16.487715,105.849985,64.173464,5.0,Large
4,READ_CSV,vaex,7.128306,3.366550,13.513450,4.673302,5.0,Large
5,PRINT DF SHAPE,datatable,0.000461,0.000252,0.000966,0.000318,5.0,Large
6,PRINT DF SHAPE,pandas,0.000485,0.000180,0.000787,0.000334,5.0,Large
7,PRINT DF SHAPE,polars,0.000786,0.001021,0.002869,0.000330,5.0,Large
8,PRINT DF SHAPE,modin,0.000911,0.001001,0.002952,0.000469,5.0,Large
9,PRINT DF SHAPE,vaex,0.001284,0.000522,0.002333,0.000981,5.0,Large
10,CREATE COPY,datatable,0.001208,0.001329,0.003898,0.000532,5.0,Large
11,CREATE COPY,pandas,11.766000,4.748639,21.440613,9.623384,5.0,Large
12,CREATE COPY,polars,0.000912,0.000710,0.002348,0.000532,5.0,Large
13,CREATE COPY,modin,0.008100,0.001838,0.011814,0.007184,5.0,Large
14,CREATE COPY,vaex,0.061523,0.005447,0.067155,0.054872,5.0,Large
15,RENAME SINGLE COLUMN,datatable,0.001364,0.000462,0.002297,0.001101,5.0,Large
16,RENAME SINGLE COLUMN,pandas,10.337778,0.089252,10.469544,10.227994,5.0,Large
17,RENAME SINGLE COLUMN,polars,0.011423,0.022497,0.057316,0.001713,5.0,Large
18,RENAME SINGLE COLUMN,modin,0.067888,0.022123,0.112967,0.056811,5.0,Large
19,RENAME SINGLE COLUMN,vaex,0.069774,0.006823,0.079179,0.062847,5.0,Large
20,RENAME ALL COLUMNS,datatable,0.001341,0.000478,0.002249,0.001017,5.0,Large
21,RENAME ALL COLUMNS,pandas,0.005558,0.000164,0.005754,0.005368,5.0,Large
22,RENAME ALL COLUMNS,polars,0.026735,0.022182,0.069269,0.011472,5.0,Large
23,RENAME ALL COLUMNS,modin,0.059544,0.001990,0.062450,0.057650,5.0,Large
24,RENAME ALL COLUMNS,vaex,4.633701,0.124265,4.810051,4.464865,5.0,Large
25,SORT ONE COLUMN,datatable,0.047100,0.058132,0.165669,0.021068,5.0,Large
26,SORT ONE COLUMN,pandas,15.078190,0.959316,16.634246,14.122220,5.0,Large
27,SORT ONE COLUMN,polars,10.493359,4.539965,19.690514,7.717729,5.0,Large
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Large
29,SORT ONE COLUMN,vaex,32.547749,4.115838,40.879683,30.008113,5.0,Large
30,SORT TWO COLUMN,datatable,0.308714,0.118463,0.539152,0.233698,5.0,Large
31,SORT TWO COLUMN,pandas,17.690414,7.910965,33.782883,13.865050,5.0,Large
32,SORT TWO COLUMN,polars,11.158356,8.981214,29.486565,7.300683,5.0,Large
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Large
34,SORT TWO COLUMN,vaex,75.452062,18.326521,112.304584,63.803820,5.0,Large
35,GROUP BY SUM,datatable,0.155615,0.087895,0.333834,0.107753,5.0,Large
36,GROUP BY SUM,pandas,0.209529,0.121895,0.457819,0.148551,5.0,Large
37,GROUP BY SUM,polars,2.223554,0.770066,3.781235,1.772797,5.0,Large
38,GROUP BY SUM,modin,13.317662,0.412747,13.930301,12.996713,5.0,Large
39,GROUP BY SUM,vaex,68.644051,2.187082,71.971532,66.335082,5.0,Large

____

# Combining the results

In [29]:
results = dict_to_df(RESULT_LG).drop(['N'], axis = 1).merge(dict_to_df(RESULT_MD), on = ['METRIC', 'LIBRARY'], suffixes=['_LG', '_MD']).drop(['N'], axis = 1).merge(dict_to_df(RESULT_SM), on = ['METRIC', 'LIBRARY'])
ordered_columns = ['METRIC', 'LIBRARY', 'TIME (avg)_LG', 'TIME (avg)_MD', 'TIME (avg)',
                    'TIME (stdv)_LG', 'TIME (stdv)_MD', 'TIME (stdv)', 
                    'TIME (max)_LG', 'TIME (max)_MD', 'TIME (max)',
                    'TIME (min)_LG', 'TIME (min)_MD', 'TIME (min)', 'N']
results[ordered_columns]

,METRIC,LIBRARY,TIME (avg)_LG,TIME (avg)_MD,TIME (avg),TIME (stdv)_LG,TIME (stdv)_MD,TIME (stdv),TIME (max)_LG,TIME (max)_MD,TIME (max),TIME (min)_LG,TIME (min)_MD,TIME (min),N
0,READ_CSV,datatable,12.275466,7.996454,2.048697,1.608227,1.164161,0.082008,15.054599,9.432566,2.198601,10.906065,6.934714,1.957333,5
1,READ_CSV,pandas,265.443018,130.581264,9.562804,8.637416,3.909886,0.797654,281.663982,136.345418,10.446338,257.771667,124.531937,8.278171,5
2,READ_CSV,polars,42.216853,35.696691,7.397899,3.420519,1.768031,0.520330,47.927630,38.459468,8.097732,39.443453,34.373788,6.930431,5
3,READ_CSV,modin,77.288881,34.626186,26.922177,16.487715,3.137712,38.016839,105.849985,39.517220,104.510701,64.173464,31.705717,10.309048,5
4,READ_CSV,vaex,7.128306,4.419714,6.833180,3.366550,0.506521,5.626612,13.513450,5.371082,18.301062,4.673302,4.061266,4.035985,5
5,PRINT DF SHAPE,datatable,0.000461,0.000421,0.000486,0.000252,0.000144,0.000204,0.000966,0.000699,0.000866,0.000318,0.000314,0.000318,5
6,PRINT DF SHAPE,pandas,0.000485,0.000416,0.000427,0.000180,0.000117,0.000151,0.000787,0.000652,0.000731,0.000334,0.000350,0.000350,5
7,PRINT DF SHAPE,polars,0.000786,0.000405,0.000480,0.001021,0.000145,0.000316,0.002869,0.000699,0.001121,0.000330,0.000334,0.000318,5
8,PRINT DF SHAPE,modin,0.000911,0.000572,0.000622,0.001001,0.000165,0.000278,0.002952,0.000902,0.001180,0.000469,0.000481,0.000465,5
9,PRINT DF SHAPE,vaex,0.001284,0.001114,0.001058,0.000522,0.000213,0.000218,0.002333,0.001534,0.001498,0.000981,0.000981,0.000934,5
10,CREATE COPY,datatable,0.001208,0.000722,0.000810,0.001329,0.000333,0.000465,0.003898,0.001383,0.001733,0.000532,0.000517,0.000532,5
11,CREATE COPY,pandas,11.766000,5.911000,0.290458,4.748639,2.868810,0.141694,21.440613,11.547001,0.489032,9.623384,4.038600,0.193886,5
12,CREATE COPY,polars,0.000912,0.000800,0.000926,0.000710,0.000413,0.000768,0.002348,0.001617,0.002484,0.000532,0.000548,0.000548,5
13,CREATE COPY,modin,0.008100,0.007890,0.008698,0.001838,0.001035,0.002341,0.011814,0.009318,0.013196,0.007184,0.007065,0.007161,5
14,CREATE COPY,vaex,0.061523,0.079807,0.058691,0.005447,0.026026,0.005164,0.067155,0.129263,0.068748,0.054872,0.058798,0.054530,5
15,RENAME SINGLE COLUMN,datatable,0.001364,0.001511,0.001229,0.000462,0.000433,0.000246,0.002297,0.002066,0.001717,0.001101,0.001144,0.001085,5
16,RENAME SINGLE COLUMN,pandas,10.337778,4.395672,0.209830,0.089252,0.142319,0.004486,10.469544,4.514535,0.215133,10.227994,4.122500,0.203514,5
17,RENAME SINGLE COLUMN,polars,0.011423,0.002392,0.004370,0.022497,0.001375,0.006126,0.057316,0.005170,0.016868,0.001713,0.001633,0.001701,5
18,RENAME SINGLE COLUMN,modin,0.067888,0.062919,0.064741,0.022123,0.004510,0.017841,0.112967,0.070568,0.101070,0.056811,0.058786,0.055937,5
19,RENAME SINGLE COLUMN,vaex,0.069774,0.087836,0.065772,0.006823,0.017629,0.002393,0.079179,0.122432,0.068986,0.062847,0.074983,0.062382,5
20,RENAME ALL COLUMNS,datatable,0.001341,0.001142,0.001191,0.000478,0.000155,0.000311,0.002249,0.001434,0.001816,0.001017,0.001013,0.001017,5
21,RENAME ALL COLUMNS,pandas,0.005558,0.005552,0.005534,0.000164,0.000264,0.000168,0.005754,0.006048,0.005849,0.005368,0.005301,0.005368,5
22,RENAME ALL COLUMNS,polars,0.026735,0.015736,0.027041,0.022182,0.005200,0.021276,0.069269,0.023047,0.064166,0.011472,0.011583,0.012589,5
23,RENAME ALL COLUMNS,modin,0.059544,0.061135,0.058977,0.001990,0.002202,0.001494,0.062450,0.064882,0.061003,0.057650,0.059068,0.056998,5
24,RENAME ALL COLUMNS,vaex,4.633701,4.822730,5.374467,0.124265,0.403656,0.485903,4.810051,5.588587,6.053567,4.464865,4.480314,4.715482,5
25,SORT ONE COLUMN,datatable,0.047100,0.024921,0.017212,0.058132,0.014712,0.008576,0.165669,0.054665,0.030915,0.021068,0.017583,0.010598,5
26,SORT ONE COLUMN,pandas,15.078190,5.948919,0.351800,0.959316,0.160866,0.038933,16.634246,6.115452,0.425251,14.122220,5.758115,0.319449,5
27,SORT ONE COLUMN,polars,10.493359,4.067038,0.372836,4.539965,2.724575,0.265146,19.690514,9.626333,0.905017,7.717729,2.874287,0.217064,5
28,SORT ONE COLUMN,vaex,32.547749,15.106791,1.920883,4.115838,1.750152,0.404796,40.879683,18.555884,2.311083,30.008113,13.535066,1.399163,5
29,SORT TWO COLUMN,datatable,0.308714,0.190091,0.075463,0.118463,0.030053,0.034958,0.539152,0.244617,0.145916,0.233698,0.163535,0.052083,5
30,SORT TWO COLUMN,pandas,17.690414,6.568081,0.556926,7.910965,0.638316,0.311434,33.782883,7.425034,1.187436,13.865050,6.037517,0.379602,5
31,SORT TWO COLUMN,polars,11.158356,3.077682,0.284105,8.981214,0.153790,0.047907,29.486565,3.296316,0.344964,7.300683,2.947497,0.227813,5
32,SORT TWO COLUMN,vaex,75.452062,42.926262,3.833902,18.326521,3.183434,0.324276,112.304584,48.687538,4.227797,63.803820,40.217582,3.270253,5
33,GROUP BY SUM,datatable,0.155615,0.106646,0.023239,0.087895,0.051431,0.020305,0.333834,0.207301,0.064115,0.107753,0.073882,0.011981,5
34,GROUP BY SUM,pandas,0.209529,0.121413,0.031094,0.121895,0.035278,0.020924,0.457819,0.174236,0.069030,0.148551,0.091684,0.015950,5
35,GROUP BY SUM,polars,2.223554,0.989457,0.193690,0.770066,0.111444,0.128624,3.781235,1.126905,0.454013,1.772797,0.847785,0.113730,5
36,GROUP BY SUM,modin,13.317662,16.079056,13.064914,0.412747,1.057333,0.558689,13.930301,17.528220,13.917518,12.996713,14.984099,12.525284,5
37,GROUP BY SUM,vaex,68.644051,35.849466,11.953482,2.187082,1.862715,0.964787,71.971532,38.961085,13.786614,66.335082,33.706844,11.125783,5